<script>
    localStorage.MY_DOMAIN = 'https://api-smartcomerci.com.br:9090'
</script>
<div class="content">
   <br />
   <br />
   <br />
   <div style="justify-content: right; margin-right: 0%;" class="row">
      <div class="col" style="justify-content: right; margin-right: 0%; display: flow-root;">
         <label style="font: normal normal bold 2rem Roboto; float: left;">Logística</label>
      </div>
       
   </div>
   <hr />
   <br />
   <div id="conteudoLogistica" class="row">
 
     
    
   </div>
</div> 