<script>
    localStorage.MY_DOMAIN = '{{MY_DOMAIN}}'
</script>
<style>
    .card-body{
    margin-top: 20px !important;
    } 
</style>
                <div class="content">
                    <br />
              
                    <div style="justify-content: right; margin-right: 0%;" class="row">
                        <div class="col" style="justify-content: right; margin-right: 0%; display: flow-root;">
                            <label style="font: normal normal bold 2rem Roboto; float: left;">Dados Gerais</label>
                        </div>

                        <div class="col-lg-4"></div>
                        <div style="border-radius: 20px; font: normal normal bold 1rem Roboto; background-color: #ffffff; max-width: 220px; height: 40px; border: 1px solid #efefef; float: right; margin-right: 15px;" class="input-group">
                            <div style="border: none;" class="input-group-append">
                                <div style="border: none;" class="input-group-text">
                                    <img style="border: none;" src="../assets/img/store.svg" alt="" />
                                </div>
                            </div>
                            <select style="border: none;" class="form-control listaDeUnidades">
                                <option ID_AFILIADA="TODAS">Todas as Unidades</option>
                            </select>
                        </div>

                        <div style=" border-radius: 20px; font: normal normal bold 1rem Roboto; background-color: #ffffff; max-width: 180px; height: 40px; border: 1px solid #efefef; float: right;" class="input-group">
         

                            <div class="datetimepicker-dummy-wrapper">
                                <input style="display: none;" placeholder="" readonly="readonly" class="datetimepicker-dummy-input is-datetimepicker-range primeiraData" type="text">
                                <input style="display: none;" placeholder="" readonly="readonly" class="datetimepicker-dummy-input segundaData" type="text">
                                <input type="text" class="demo4 is-hidden" value=" - ">
                            </div>
                        </div>
                    </div>

                    <hr />
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card card-tasks radius20" style="padding: 1%;">
                                <div style="padding-top: 5%; padding-bottom: -5%;" class="row">
                                    <div class="card-header col-md-3" style="margin-left: 5%; border-bottom: none !important">
                                        <div style="margin-left: 15%; width: 70px; height: 70px; height: 8;" class="roundActive container dourado">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" style="/* font-size: 3rem; */ margin-top: 35%;">
                                                <defs>
                                                    
                                                </defs>
                                                <path
                                                    class="a"
                                                    d="M16.5,18H3.5A2.5,2.5,0,0,1,1,15.5V7.918a.891.891,0,0,0,.436.091c.089,0,.188,0,.277-.006l.081,0H1.5A1.5,1.5,0,0,1,0,6.5V5.693a1.492,1.492,0,0,1,.107-.558L2.036.315A.5.5,0,0,1,2.5,0h15a.5.5,0,0,1,.464.314l1.929,4.821A1.492,1.492,0,0,1,20,5.693V6.5a1.5,1.5,0,0,1-1.16,1.462A.385.385,0,0,0,19,7.915V15.5A2.5,2.5,0,0,1,16.5,18Zm-11-8h3A1.5,1.5,0,0,1,10,11.5V17h6.5A1.5,1.5,0,0,0,18,15.5V8.007h.52L18.6,8l-.04,0H16a1.49,1.49,0,0,1-1-.383A1.493,1.493,0,0,1,14,8H11a1.494,1.494,0,0,1-1-.383A1.49,1.49,0,0,1,9,8H6a1.49,1.49,0,0,1-1-.383A1.494,1.494,0,0,1,4,8H1.972C2,8,2,8.007,2,8.009V15.5A1.5,1.5,0,0,0,3.5,17H4V11.5A1.5,1.5,0,0,1,5.5,10Zm0,1a.5.5,0,0,0-.5.5V17H9V11.5a.5.5,0,0,0-.5-.5ZM15,5a.5.5,0,0,1,.5.5v1A.5.5,0,0,0,16,7h2.5a.5.5,0,0,0,.5-.5V5.693a.507.507,0,0,0-.036-.186L17.161,1H2.84l-1.8,4.507A.507.507,0,0,0,1,5.693V6.5a.5.5,0,0,0,.5.5H4a.5.5,0,0,0,.5-.5v-1a.5.5,0,0,1,1,0v1A.5.5,0,0,0,6,7H9a.5.5,0,0,0,.5-.5v-1a.5.5,0,0,1,1,0v1A.5.5,0,0,0,11,7h3a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,1,15,5Zm-.5,10h-1A1.5,1.5,0,0,1,12,13.5v-2A1.5,1.5,0,0,1,13.5,10h1A1.5,1.5,0,0,1,16,11.5v2A1.5,1.5,0,0,1,14.5,15Zm-1-4a.5.5,0,0,0-.5.5v2a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-2a.5.5,0,0,0-.5-.5Z"
                                                    transform="translate(2 3)"
                                                ></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="min-width: 60% !important; padding-top: 5%; padding-left: 10%;">
                                        <h6 class="card-title" style="font: normal normal normal 14px/16px Roboto; width: 100%; text-align: left;">Pedidos Recebidos</h6>
                                        <h3 id="pedidosRecebidos" style="text-align: left; font-weight: 900; font-size: 2rem;">0</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-tasks radius20" style="padding: 1%;">
                                <div style="padding-top: 5%; padding-bottom: -5%;" class="row">
                                    <div class="card-header col-md-3" style="margin-left: 5%; border-bottom: none !important">
                                        <div style="margin-left: 15%; width: 70px; height: 70px; height: 8;" class="roundActive container dourado">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" style="/* font-size: 3rem; */ margin-top: 35%;">
                                                <defs>
                                                   
                                                </defs>
                                                <g transform="translate(-849 -371.741)">
                                                    <path
                                                        class="a"
                                                        d="M8.607,9.957c.153-.089-.171-.584-.018-.5l.06.035c.129-.992.283-2.028.471-3.03a1.894,1.894,0,0,1,1.859-1.532h.828a2.479,2.479,0,0,1,2.216,1.388l.565-1.557a.5.5,0,0,1,.193-.243V2.95a.5.5,0,0,1,.5-.5h4.463a.5.5,0,0,1,.5.5V4.522a.5.5,0,0,1,.193.243l1.264,3.471a.4.4,0,0,1,.03.169l-.03,1.651.283-.134a.463.463,0,0,1,.709.431c4.944.992-8.177.268-14.333.035A.5.5,0,0,1,8.607,9.957Zm4.688-2.544a1.488,1.488,0,0,0-1.488-1.488h-.828a.9.9,0,0,0-.883.734c-.213,1.121-.387,2.261-.5,3.4l.922.555a.5.5,0,0,0,.555-.03l.88-.193c.4-.3.867-.822,1.336-.655Zm5.95-3.967H15.774v.992h3.471Zm.372,1.984H15.4l-.9,2.479h6.02Zm1.116,4.463V8.9H14.286v1.488h0l.258.193a.5.5,0,0,0,.555.03l1.346-.42a1.322,1.322,0,0,1,1.558,0l1,.39a.5.5,0,0,0,.6,0l1.16-.555A.466.466,0,0,1,20.733,9.893Z"
                                                        transform="translate(846.458 369.286)"
                                                    />
                                                    <g transform="translate(-51 355)">
                                                        <g transform="translate(900 19)">
                                                            <path
                                                                class="a"
                                                                d="M15,18a2,2,0,1,1,2-2A2,2,0,0,1,15,18Zm0-3a1,1,0,1,0,1,1A1,1,0,0,0,15,15ZM6,18a2,2,0,1,1,2-2A2,2,0,0,1,6,18Zm0-3a1,1,0,1,0,1,1A1,1,0,0,0,6,15Zm11.5-2H6.194a2.492,2.492,0,0,1-2.466-2.089l-.22-1.319s0-.007,0-.01l0-.007L2.285,2.254A1.5,1.5,0,0,0,.8,1H.5a.5.5,0,1,1,0-1H.806a2.509,2.509,0,0,1,2.45,2H19.5a.5.5,0,0,1,.48.637l-2,7A.5.5,0,0,1,17.5,10H4.59l.125.747A1.494,1.494,0,0,0,6.193,12H17.5a.5.5,0,1,1,0,1ZM3.424,3l1,6h12.7l1.714-6Z"
                                                                transform="translate(2 3)"
                                                            />
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="min-width: 60% !important; padding-top: 5%; padding-left: 10%;">
                                        <h6 class="card-title" style="font: normal normal normal 14px/16px Roboto; width: 100%; text-align: left;">Em separação</h6>
                                        <h3 id="emSeparacao" style="text-align: left; font-weight: 900; font-size: 2rem;">0</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-tasks radius20" style="padding: 1%;">
                                <div style="padding-top: 5%; padding-bottom: -5%;" class="row">
                                    <div class="card-header col-md-3" style="margin-left: 5%; border-bottom: none !important">
                                        <div style="margin-left: 15%; width: 70px; height: 70px; height: 8;" class="roundActive container dourado">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" style="/* font-size: 3rem; */ margin-top: 35%;">
                                                <defs>
                                                   
                                                </defs>
                                                <path
                                                    class="a"
                                                    d="M1.5,10.011a.535.535,0,0,1,.535,0l.064.037c.139-1.07.3-2.187.508-3.268A2.043,2.043,0,0,1,4.612,5.128h.893a2.674,2.674,0,0,1,2.39,1.5l.61-1.679a.535.535,0,0,1,.209-.262v-1.7a.535.535,0,0,1,.535-.535h4.813a.535.535,0,0,1,.535.535v1.7a.535.535,0,0,1,.209.262L16.169,8.69a.433.433,0,0,1,.032.182v1.283l.3-.144a.5.5,0,0,1,.765.465v1.07h2.674a4.813,4.813,0,0,1,4.813,4.813v5.348a.535.535,0,0,1-.535.535H22.009a2.139,2.139,0,0,1-4.129,0H9.174a2.139,2.139,0,0,1-4.129,0H1.762a.535.535,0,0,1-.535-.535V10.476A.535.535,0,0,1,1.5,10.011Zm18.445,2.6H19.41v3.743h4.278a3.743,3.743,0,0,0-3.744-3.743Zm0,10.161a1.07,1.07,0,1,0-1.07-1.07A1.07,1.07,0,0,0,19.945,22.776Zm-2.674-1.6h.61a2.139,2.139,0,0,1,4.129,0h1.679V17.428H18.875a.535.535,0,0,1-.535-.535V12.615h-1.07ZM7.11,7.8a1.6,1.6,0,0,0-1.6-1.6H4.612a.968.968,0,0,0-.952.792c-.23,1.208-.417,2.438-.535,3.663l.995.6a.535.535,0,0,0,.6-.032l.893-.69a1.6,1.6,0,0,1,1.5-.225Zm6.417-4.278H9.784v1.07h3.744Zm.4,2.139H9.383L8.409,8.337H14.9Zm1.2,4.813V9.407H8.18v1.6h0l.278.209a.535.535,0,0,0,.6.032l1.439-.866a1.6,1.6,0,0,1,1.792.1l.984.738a.535.535,0,0,0,.642,0l1.251-.6A.5.5,0,0,1,15.132,10.476ZM7.11,22.776a1.07,1.07,0,1,0-1.07-1.07A1.07,1.07,0,0,0,7.11,22.776ZM2.3,21.172H5.046a2.139,2.139,0,0,1,4.129,0H16.2V11.321l-1.781.85a1.6,1.6,0,0,1-1.792-.091l-.984-.738a.535.535,0,0,0-.6-.032l-1.439.866a1.6,1.6,0,0,1-1.792-.1l-.92-.7a.535.535,0,0,0-.642,0l-.92.7a1.6,1.6,0,0,1-1.792.1l-1.037-.631H2.452a.535.535,0,0,1-.155-.053Z"
                                                    transform="translate(-1.227 -2.455)"
                                                />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="min-width: 60% !important; padding-top: 5%; padding-left: 10%;">
                                        <h6 class="card-title" style="font: normal normal normal 14px/16px Roboto; width: 100%; text-align: left;">Em rota de entrega</h6>
                                        <h3 id="emRotaEntrega" style="text-align: left; font-weight: 900; font-size: 2rem;">0</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-tasks radius20" style="padding: 1%;">
                                <div style="padding-top: 5%; padding-bottom: -5%;" class="row">
                                    <div class="card-header col-md-3" style="margin-left: 5%;  border-bottom: none !important">
                                        <div style="margin-left: 15%; width: 70px; height: 70px; height: 8;" class="roundActive container dourado">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" style="/* font-size: 3rem; */ margin-top: 35%; margin-left: 15%">
                                                <defs>
                                              
                                                </defs>
                                                <path
                                                    class="a"
                                                    d="M12.69,16H6.5a2.481,2.481,0,0,1-1.732-.7A1.5,1.5,0,0,1,3.5,16h-2A1.5,1.5,0,0,1,0,14.5v-7A1.5,1.5,0,0,1,1.5,6h2a1.494,1.494,0,0,1,1,.382l.882-1.764A5.89,5.89,0,0,0,6,2V1.75A1.752,1.752,0,0,1,7.75,0,1.875,1.875,0,0,1,9.622,1.694L9.952,5H13.29a2.5,2.5,0,0,1,2.488,2.749l-.6,6A2.492,2.492,0,0,1,12.69,16ZM7.75,1A.751.751,0,0,0,7,1.75V2a6.89,6.89,0,0,1-.725,3.065L5,7.618V13.5A1.5,1.5,0,0,0,6.5,15h6.19a1.5,1.5,0,0,0,1.493-1.35l.6-6A1.5,1.5,0,0,0,13.29,6H9.5A.5.5,0,0,1,9,5.55L8.627,1.794A.879.879,0,0,0,7.75,1ZM1.5,7a.5.5,0,0,0-.5.5v7a.5.5,0,0,0,.5.5h2a.5.5,0,0,0,.5-.5v-7A.5.5,0,0,0,3.5,7Z"
                                                />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="min-width: 60% !important; padding-top: 5%; padding-left: 10%;">
                                        <h6 class="card-title" style="font: normal normal normal 14px/16px Roboto; width: 100%; text-align: left;">Pedidos Entregues</h6>
                                        <h3 id="pedidosEntregues" style="text-align: left; font-weight: 900; font-size: 2rem;">0</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            
                            <div style="max-height: 505px;"  class="card card-tasks radius20">
                                <div style="padding-left: 5%;padding-right: 5%;"  class="card-header">
                                    <h6 class="card-title" style="font: normal normal normal 18px/16px Roboto; width: 100%; text-align: left;">Receita</h6>
                             
                                </div>
                           
                                <div style="padding-left: 20px;padding-right:20px;" class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h3 style="
                                            font-weight: 900;
                                            font-family: 'Roboto'; margin-left: 15px;
                                            font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
                                        ">R$ <span id="receita">0,00</span></h3>
                                            <h6 class="card-title" style="font: normal normal normal 18px/16px Roboto; width: 100%; text-align: left;margin-left: 15px;margin-top: 5px">Vendido no período</h6>
                                        </div>
                                        <div style="float: right; text-align: right; margin-right: 20px;" class="col">
                                            <h3 id="pedidosRecebidos2" style="font: normal normal bold Roboto;font-family: 'Roboto';font-weight: 900; font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;margin-right: 15px;">0</h3>
                                            <h6 class="card-title" style="font: normal normal normal 18px/16px Roboto; width: 100%; text-align: right;margin: 5px">Pedidos</h6>
                                        </div>
                                      

                                    </div>
                                    <hr>
                                    <style>
                                        #chartdiv {
                                          width: 100%;
                                          height: 410px;
                                        }
                                        </style>
                                    <div id="chartdiv"></div>
                                </div>
                                <div class="card-footer">
                                    
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-4">
                            <div style="height: 155px;" class="card radius20">
                                <div style="padding-top: 5%; padding-bottom: -5%;" class="row">
                                    <div class="card-header col-md-3" style="margin-left: 5%; border-bottom: none !important">
                                        <div style="margin-left: 15%; width: 70px; height: 70px; height: 8;" class="roundActive container dourado">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 34 20" style="/* font-size: 3rem; */ margin-top: 35%;"><defs><style>.b{fill:#fffbf2;}</style></defs><g transform="translate(-818 -264.5)"><g transform="translate(816 262.5)"><path class="a" d="M10,20A10,10,0,1,1,20,10,10.011,10.011,0,0,1,10,20ZM10,1a9,9,0,1,0,7.794,4.5A9.01,9.01,0,0,0,10,1Zm1.5,16h-3A5.506,5.506,0,0,1,3,11.5a.5.5,0,0,1,.5-.5h13a.5.5,0,0,1,.5.5A5.506,5.506,0,0,1,11.5,17ZM9,15a.994.994,0,0,0-1,.973A4.6,4.6,0,0,0,8.5,16h3a4.4,4.4,0,0,0,.524-.031.994.994,0,0,0-1-.969H9ZM4.027,12a4.53,4.53,0,0,0,2.99,3.75A2,2,0,0,1,9,14h2.025a2,2,0,0,1,1.983,1.741A4.531,4.531,0,0,0,15.973,12H4.027ZM13,9a1,1,0,1,1,1-1A1,1,0,0,1,13,9ZM7,9A1,1,0,1,1,8,8,1,1,0,0,1,7,9Z" transform="translate(2 2)"/></g><circle class="b" cx="8" cy="8" r="8" transform="translate(836 267)"/><path class="a" d="M3.48,3.48V.58a.58.58,0,0,1,1.16,0v2.9h2.9a.58.58,0,0,1,0,1.16h-2.9v2.9a.58.58,0,0,1-1.16,0v-2.9H.58a.58.58,0,0,1,0-1.16Z" transform="translate(837.619 270.939)"/></g></svg>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="min-width: 60% !important; padding-left: 5%;">
                                        <h6 class="card-title" style="font: normal normal normal 14px/16px Roboto; width: 100%; text-align: left;">Novos Clientes</h6>
                                        <div class="row">
                                            <h3 id="novosClientes" style="text-align: left; font-weight: 900; font-size: 2rem; max-width: 40%;     margin-left: 5%;">0</h3>
                                            <div class="inBox row">
                                                <div class="bolaSucess">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="7.523" height="7.587" viewBox="0 0 7.523 7.587"  style="margin-left: 3; margin-top: -10"><defs></defs><path class="a" d="M.22,7.366a.764.764,0,0,1,0-1.073L4.954,1.518h-2.7A.759.759,0,0,1,2.257,0H6.771a.742.742,0,0,1,.366.1h0L7.151.1l.006,0,.008,0,.01.006,0,0L7.191.13h0A.755.755,0,0,1,7.3.223.767.767,0,0,1,7.373.3v0l.009.012,0,0,.007.01,0,.007,0,.007.006.01,0,0,.008.014h0a.76.76,0,0,1,.1.385V5.312a.753.753,0,1,1-1.505,0V2.591L1.283,7.366a.75.75,0,0,1-1.064,0Z"/></svg>
                                                </div>
    
                                                <span  class="text-success"> +100%</span>
                                            </div>
                                           
                                        </div>
                                        <p style="    margin-top: 5px;">Comparado ao período anterior</p>
                                        
                                    </div>
                                </div>
                            </div>

                            <div style="height: 155px;" class="card radius20">
                                <div style="padding-top: 5%; padding-bottom: -5%;" class="row">
                                    <div class="card-header col-md-3" style="margin-left: 5%; border-bottom: none !important">
                                        <div style="margin-left: 15%; width: 70px; height: 70px; height: 8;" class="roundActive container dourado">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 34 20" style="/* font-size: 3rem; */ margin-top: 35%;"><defs><style>.c{fill:#f6b504;}.b{fill:#fffbf2;}.c{stroke:#f6b504;stroke-width:0.4px;}</style></defs><g transform="translate(-818 -405.5)"><g transform="translate(816 403.5)"><path class="a" d="M10,20A10,10,0,1,1,20,10,10.011,10.011,0,0,1,10,20ZM10,1a9,9,0,1,0,7.794,4.5A9.01,9.01,0,0,0,10,1Zm1.5,16h-3A5.506,5.506,0,0,1,3,11.5a.5.5,0,0,1,.5-.5h13a.5.5,0,0,1,.5.5A5.506,5.506,0,0,1,11.5,17ZM9,15a.994.994,0,0,0-1,.973A4.6,4.6,0,0,0,8.5,16h3a4.4,4.4,0,0,0,.524-.031.994.994,0,0,0-1-.969H9ZM4.027,12a4.53,4.53,0,0,0,2.99,3.75A2,2,0,0,1,9,14h2.025a2,2,0,0,1,1.983,1.741A4.531,4.531,0,0,0,15.973,12H4.027ZM13,9a1,1,0,1,1,1-1A1,1,0,0,1,13,9ZM7,9A1,1,0,1,1,8,8,1,1,0,0,1,7,9Z" transform="translate(2 2)"/></g><ellipse class="b" cx="9" cy="7" rx="9" ry="7" transform="translate(835 409)"/><g transform="translate(838.359 411.978)"><path class="c" d="M1.134,1.911A5.146,5.146,0,1,1,0,5.462a.286.286,0,0,1,.571-.034,4.574,4.574,0,1,0,.995-3.14H3.135a.286.286,0,0,1,0,.572H.848a.286.286,0,0,1-.286-.286V.286a.286.286,0,1,1,.572,0Z" transform="translate(0 0.001)"/></g></g></svg>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="min-width: 60% !important; padding-left: 5%;">
                                        <h6 class="card-title" style="font: normal normal normal 14px/16px Roboto; width: 100%; text-align: left;">Clientes recorrentes</h6>
                                        <div class="row">
                                            <h3 id="clientesRecorrentes" style="text-align: left; font-weight: 900; font-size: 2rem; max-width: 40%;     margin-left: 5%;">0 </h3>
                                            <div class="inBox row">
                                                
                                                <div class="bolaSucess">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="7.523" height="7.587" viewBox="0 0 7.523 7.587"  style="margin-left: 3; margin-top: -10"><defs></defs><path class="a" d="M.22,7.366a.764.764,0,0,1,0-1.073L4.954,1.518h-2.7A.759.759,0,0,1,2.257,0H6.771a.742.742,0,0,1,.366.1h0L7.151.1l.006,0,.008,0,.01.006,0,0L7.191.13h0A.755.755,0,0,1,7.3.223.767.767,0,0,1,7.373.3v0l.009.012,0,0,.007.01,0,.007,0,.007.006.01,0,0,.008.014h0a.76.76,0,0,1,.1.385V5.312a.753.753,0,1,1-1.505,0V2.591L1.283,7.366a.75.75,0,0,1-1.064,0Z"/></svg>
                                                </div>

                                                <span class="text-success"> + 100%</span>
                                            </div>
                                            
                                        </div>
                                        <p style="    margin-top: 5px;">Comparado ao período anterior</p>
                                    </div>
                                </div>
                            </div>

                            <div style="height: 155px;" class="card radius20">
                                <div style="padding-top: 5%; padding-bottom: -5%;" class="row">
                                    <div class="card-header col-md-3" style="margin-left: 5%; border-bottom: none !important">
                                        <div style="margin-left: 15%; width: 70px; height: 70px; height: 8;" class="roundActive container dourado">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 34 20" style="/* font-size: 3rem; */;margin-left: 15%; margin-top: 35%;"><defs></defs><path class="a" d="M6.5,18a.5.5,0,0,1-.5-.5V9.707L.146,3.854A.5.5,0,0,1,0,3.5V.5A.5.5,0,0,1,.5,0h17a.5.5,0,0,1,.5.5v3a.5.5,0,0,1-.146.354L12,9.707V15.5a.5.5,0,0,1-.314.464l-5,2A.494.494,0,0,1,6.5,18ZM7,10v6.761l4-1.6V10ZM1,1V3.293L6.707,9h4.586L17,3.293V1Z" transform="translate(0 0)"/></svg>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="min-width: 60% !important; padding-left: 5%;">
                                        <h6 class="card-title" style="font: normal normal normal 14px/16px Roboto; width: 100%; text-align: left;">Taxa de conversão</h6>
                                        <div class="row">
                                            <h3  id="taxaConversao" style="text-align: left; font-weight: 900; font-size: 2rem; max-width: 40%;     margin-left: 5%;">0 %</h3>
                                            <div class="inBox row">
                                                <!--
                                                <div class="bolaSuccess">
                                                    <svg xmlns="http://www.w3.org/2000/svg"  width="9.276" height="9.231" style="margin-left: 3; margin-top: -10 " viewBox="0 0 9.276 9.231"><defs></defs><path class="a" d="M.22,7.366a.764.764,0,0,1,0-1.073L4.954,1.518h-2.7A.759.759,0,0,1,2.257,0H6.771a.742.742,0,0,1,.366.1h0L7.151.1l.006,0,.008,0,.01.006,0,0L7.191.13h0A.755.755,0,0,1,7.3.223.767.767,0,0,1,7.373.3v0l.009.012,0,0,.007.01,0,.007,0,.007.006.01,0,0,.008.014h0a.76.76,0,0,1,.1.385V5.312a.753.753,0,1,1-1.505,0V2.591L1.283,7.366a.75.75,0,0,1-1.064,0Z" transform="matrix(0.259, 0.966, -0.966, 0.259, 7.329, 0)"/></svg>
                                                </div>
                                                -->
                                                 <div style="display: none;" class="bolaSucess">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="7.523" height="7.587" viewBox="0 0 7.523 7.587"  style="margin-left: 3; margin-top: -10"><defs></defs><path class="a" d="M.22,7.366a.764.764,0,0,1,0-1.073L4.954,1.518h-2.7A.759.759,0,0,1,2.257,0H6.771a.742.742,0,0,1,.366.1h0L7.151.1l.006,0,.008,0,.01.006,0,0L7.191.13h0A.755.755,0,0,1,7.3.223.767.767,0,0,1,7.373.3v0l.009.012,0,0,.007.01,0,.007,0,.007.006.01,0,0,.008.014h0a.76.76,0,0,1,.1.385V5.312a.753.753,0,1,1-1.505,0V2.591L1.283,7.366a.75.75,0,0,1-1.064,0Z"/></svg>
                                                </div>
    
                                               
                                                <span  style="display: none;"  class="text-success"> + <span id="percentualConversao">0%</span></span>

                                            </div>
                                            
                                        </div>
                                        <p style="    margin-top: 5px; display: none">Comparado ao período anterior</p>
                                        <p style="    margin-top: 5px;">Será calculado no futuro</p>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                    <div style="filter: blur(5px); opacity: 0.5" class="row">
                        <div class="col-md-12">
                            
                            <div  class="card card-tasks radius20">
                                <div style="padding-left: 5%;padding-right: 5%;"  class="card-header">
                                    <h6 class="card-title" style="font: normal normal normal 18px/16px Roboto; width: 100%; text-align: left;">Venda por região</h6>
                             
                                </div>
                         

                               <div class="row"  style="padding: 5px;">
                                   <div class="col-md-8" style="margin-left: 5%;">
                                        <iframe src="/map/mapas/areaView.html" width="100%" height="520" style="border:0; border-radius: 20px" allowfullscreen="" loading="lazy"></iframe>
                                   </div>

                                   

                                   <div  class="col-md-3">
                                         
                                            <div style="padding-top: 5%; padding-bottom: -5%;" class="row">
                                                <div class="card-header col-md-3" style="margin-left: 5%;">
                                                    <div style="margin-left: 15%; width: 70px; height: 70px; height: 8;" class="roundActive container dourado">
                                                        
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 20 20" style="/* font-size: 3rem; */margin-top: 45%;margin-left: 5%;"><defs></defs><g transform="translate(-2 -2)"><path class="a" d="M10,20A10,10,0,1,1,20,10,10.011,10.011,0,0,1,10,20ZM10,1a9,9,0,1,0,7.794,4.5A9.01,9.01,0,0,0,10,1Zm1.5,16h-3A5.506,5.506,0,0,1,3,11.5a.5.5,0,0,1,.5-.5h13a.5.5,0,0,1,.5.5A5.506,5.506,0,0,1,11.5,17ZM9,15a.994.994,0,0,0-1,.973A4.6,4.6,0,0,0,8.5,16h3a4.4,4.4,0,0,0,.524-.031.994.994,0,0,0-1-.969H9ZM4.027,12a4.53,4.53,0,0,0,2.99,3.75A2,2,0,0,1,9,14h2.025a2,2,0,0,1,1.983,1.741A4.531,4.531,0,0,0,15.973,12H4.027ZM13,9a1,1,0,1,1,1-1A1,1,0,0,1,13,9ZM7,9A1,1,0,1,1,8,8,1,1,0,0,1,7,9Z" transform="translate(2 2)"></path></g></svg>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="min-width: 60% !important; padding-left: 5%;     border-bottom: 1px solid rgba(0,0,0,.125);">
                                                    <h6 class="card-title" style="font: normal normal normal 14px/16px Roboto; width: 100%; text-align: left;">Bairro lorem inpsun dolor</h6>
                                                    <div class="row">
                                                        <h3 style="text-align: left; font-weight: 900; font-size: 2rem; max-width: 40%;     margin-left: 5%;">0</h3>
                                                        <div class="inBox row">
                                                            <div class="bolaSucess">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="7.523" height="7.587" viewBox="0 0 7.523 7.587" style="margin-left: 3; margin-top: -10"><defs></defs><path class="a" d="M.22,7.366a.764.764,0,0,1,0-1.073L4.954,1.518h-2.7A.759.759,0,0,1,2.257,0H6.771a.742.742,0,0,1,.366.1h0L7.151.1l.006,0,.008,0,.01.006,0,0L7.191.13h0A.755.755,0,0,1,7.3.223.767.767,0,0,1,7.373.3v0l.009.012,0,0,.007.01,0,.007,0,.007.006.01,0,0,.008.014h0a.76.76,0,0,1,.1.385V5.312a.753.753,0,1,1-1.505,0V2.591L1.283,7.366a.75.75,0,0,1-1.064,0Z"></path></svg>
                                                            </div>
                
                                                            <span class="text-success"> +100 %</span>
                                                        </div>
                                                    
                                                    </div>
                                                    <p style="    margin-top: 5px;">Comparado a (8) de ontem</p>
                                                    
                                                </div>
                                            </div>
                                               <div style="padding-top: 5%; padding-bottom: -5%;" class="row">
                                                <div class="card-header col-md-3" style="margin-left: 5%;">
                                                    <div style="margin-left: 15%; width: 70px; height: 70px; height: 8;" class="roundActive container dourado">
                                                        
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 20 20" style="/* font-size: 3rem; */margin-top: 45%;margin-left: 5%;"><defs></defs><g transform="translate(-2 -2)"><path class="a" d="M10,20A10,10,0,1,1,20,10,10.011,10.011,0,0,1,10,20ZM10,1a9,9,0,1,0,7.794,4.5A9.01,9.01,0,0,0,10,1Zm1.5,16h-3A5.506,5.506,0,0,1,3,11.5a.5.5,0,0,1,.5-.5h13a.5.5,0,0,1,.5.5A5.506,5.506,0,0,1,11.5,17ZM9,15a.994.994,0,0,0-1,.973A4.6,4.6,0,0,0,8.5,16h3a4.4,4.4,0,0,0,.524-.031.994.994,0,0,0-1-.969H9ZM4.027,12a4.53,4.53,0,0,0,2.99,3.75A2,2,0,0,1,9,14h2.025a2,2,0,0,1,1.983,1.741A4.531,4.531,0,0,0,15.973,12H4.027ZM13,9a1,1,0,1,1,1-1A1,1,0,0,1,13,9ZM7,9A1,1,0,1,1,8,8,1,1,0,0,1,7,9Z" transform="translate(2 2)"></path></g></svg>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="min-width: 60% !important; padding-left: 5%;     border-bottom: 1px solid rgba(0,0,0,.125);">
                                                    <h6 class="card-title" style="font: normal normal normal 14px/16px Roboto; width: 100%; text-align: left;">Bairro lorem inpsun dolor</h6>
                                                    <div class="row">
                                                        <h3 style="text-align: left; font-weight: 900; font-size: 2rem; max-width: 40%;     margin-left: 5%;">0</h3>
                                                        <div class="inBox row">
                                                            <div class="bolaSucess">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="7.523" height="7.587" viewBox="0 0 7.523 7.587" style="margin-left: 3; margin-top: -10"><defs></defs><path class="a" d="M.22,7.366a.764.764,0,0,1,0-1.073L4.954,1.518h-2.7A.759.759,0,0,1,2.257,0H6.771a.742.742,0,0,1,.366.1h0L7.151.1l.006,0,.008,0,.01.006,0,0L7.191.13h0A.755.755,0,0,1,7.3.223.767.767,0,0,1,7.373.3v0l.009.012,0,0,.007.01,0,.007,0,.007.006.01,0,0,.008.014h0a.76.76,0,0,1,.1.385V5.312a.753.753,0,1,1-1.505,0V2.591L1.283,7.366a.75.75,0,0,1-1.064,0Z"></path></svg>
                                                            </div>
                
                                                            <span class="text-success"> +0 %</span>
                                                        </div>
                                                    
                                                    </div>
                                                    <p style="    margin-top: 5px;">Comparado a (8) de ontem</p>
                                                    
                                                </div>
                                            </div>
                                               <div style="padding-top: 5%; padding-bottom: -5%;" class="row">
                                                <div class="card-header col-md-3" style="margin-left: 5%;">
                                                    <div style="margin-left: 15%; width: 70px; height: 70px; height: 8;" class="roundActive container dourado">
                                                        
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 20 20" style="/* font-size: 3rem; */margin-top: 45%;margin-left: 5%;"><defs></defs><g transform="translate(-2 -2)"><path class="a" d="M10,20A10,10,0,1,1,20,10,10.011,10.011,0,0,1,10,20ZM10,1a9,9,0,1,0,7.794,4.5A9.01,9.01,0,0,0,10,1Zm1.5,16h-3A5.506,5.506,0,0,1,3,11.5a.5.5,0,0,1,.5-.5h13a.5.5,0,0,1,.5.5A5.506,5.506,0,0,1,11.5,17ZM9,15a.994.994,0,0,0-1,.973A4.6,4.6,0,0,0,8.5,16h3a4.4,4.4,0,0,0,.524-.031.994.994,0,0,0-1-.969H9ZM4.027,12a4.53,4.53,0,0,0,2.99,3.75A2,2,0,0,1,9,14h2.025a2,2,0,0,1,1.983,1.741A4.531,4.531,0,0,0,15.973,12H4.027ZM13,9a1,1,0,1,1,1-1A1,1,0,0,1,13,9ZM7,9A1,1,0,1,1,8,8,1,1,0,0,1,7,9Z" transform="translate(2 2)"></path></g></svg>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="min-width: 60% !important; padding-left: 5%;     border-bottom: 1px solid rgba(0,0,0,.125);">
                                                    <h6 class="card-title" style="font: normal normal normal 14px/16px Roboto; width: 100%; text-align: left;">Bairro lorem inpsun dolor</h6>
                                                    <div class="row">
                                                        <h3 style="text-align: left; font-weight: 900; font-size: 2rem; max-width: 40%;     margin-left: 5%;">0</h3>
                                                        <div class="inBox row">
                                                            <div class="bolaSucess">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="7.523" height="7.587" viewBox="0 0 7.523 7.587" style="margin-left: 3; margin-top: -10"><defs></defs><path class="a" d="M.22,7.366a.764.764,0,0,1,0-1.073L4.954,1.518h-2.7A.759.759,0,0,1,2.257,0H6.771a.742.742,0,0,1,.366.1h0L7.151.1l.006,0,.008,0,.01.006,0,0L7.191.13h0A.755.755,0,0,1,7.3.223.767.767,0,0,1,7.373.3v0l.009.012,0,0,.007.01,0,.007,0,.007.006.01,0,0,.008.014h0a.76.76,0,0,1,.1.385V5.312a.753.753,0,1,1-1.505,0V2.591L1.283,7.366a.75.75,0,0,1-1.064,0Z"></path></svg>
                                                            </div>
                
                                                            <span class="text-success"> +0 %</span>
                                                        </div>
                                                    
                                                    </div>
                                                    <p style="    margin-top: 5px;">Comparado a (8) de ontem</p>
                                                    
                                                </div>
                                            </div>
                                               <div style="padding-top: 5%; padding-bottom: -5%;" class="row">
                                                <div class="card-header col-md-3" style="margin-left: 5%;">
                                                    <div style="margin-left: 15%; width: 70px; height: 70px; height: 8;" class="roundActive container dourado">
                                                        
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 20 20" style="/* font-size: 3rem; */margin-top: 45%;margin-left: 5%;"><defs></defs><g transform="translate(-2 -2)"><path class="a" d="M10,20A10,10,0,1,1,20,10,10.011,10.011,0,0,1,10,20ZM10,1a9,9,0,1,0,7.794,4.5A9.01,9.01,0,0,0,10,1Zm1.5,16h-3A5.506,5.506,0,0,1,3,11.5a.5.5,0,0,1,.5-.5h13a.5.5,0,0,1,.5.5A5.506,5.506,0,0,1,11.5,17ZM9,15a.994.994,0,0,0-1,.973A4.6,4.6,0,0,0,8.5,16h3a4.4,4.4,0,0,0,.524-.031.994.994,0,0,0-1-.969H9ZM4.027,12a4.53,4.53,0,0,0,2.99,3.75A2,2,0,0,1,9,14h2.025a2,2,0,0,1,1.983,1.741A4.531,4.531,0,0,0,15.973,12H4.027ZM13,9a1,1,0,1,1,1-1A1,1,0,0,1,13,9ZM7,9A1,1,0,1,1,8,8,1,1,0,0,1,7,9Z" transform="translate(2 2)"></path></g></svg>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="min-width: 60% !important; padding-left: 5%;     border-bottom: 1px solid rgba(0,0,0,.125);">
                                                    <h6 class="card-title" style="font: normal normal normal 14px/16px Roboto; width: 100%; text-align: left;">Bairro lorem inpsun dolor</h6>
                                                    <div class="row">
                                                        <h3 style="text-align: left; font-weight: 900; font-size: 2rem; max-width: 40%;     margin-left: 5%;">0</h3>
                                                        <div class="inBox row">
                                                            <div class="bolaSucess">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="7.523" height="7.587" viewBox="0 0 7.523 7.587" style="margin-left: 3; margin-top: -10"><defs></defs><path class="a" d="M.22,7.366a.764.764,0,0,1,0-1.073L4.954,1.518h-2.7A.759.759,0,0,1,2.257,0H6.771a.742.742,0,0,1,.366.1h0L7.151.1l.006,0,.008,0,.01.006,0,0L7.191.13h0A.755.755,0,0,1,7.3.223.767.767,0,0,1,7.373.3v0l.009.012,0,0,.007.01,0,.007,0,.007.006.01,0,0,.008.014h0a.76.76,0,0,1,.1.385V5.312a.753.753,0,1,1-1.505,0V2.591L1.283,7.366a.75.75,0,0,1-1.064,0Z"></path></svg>
                                                            </div>
                
                                                            <span class="text-success"> +0 %</span>
                                                        </div>
                                                    
                                                    </div>
                                                    <p style="    margin-top: 5px;">Comparado a (8) de ontem</p>
                                                    
                                                </div>
                                            </div>

                                   </div>
                                
                                
                                </div>
                               
                              
                                <div class="card-footer">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>