<script>
   localStorage.MY_DOMAIN = 'https://www.api-smartcomerci.com.br:7070'
</script>
<div class="content">
   <br />
   <br />
   <br />
   <div style="justify-content: right; margin-right: 0%;" class="row">
      <div class="col" style="justify-content: right; margin-right: 0%; display: flow-root;">
         <label style="font: normal normal bold 2rem Roboto; float: left;">Logística</label>
      </div>

   </div>
   <hr />
   <br />
   <div id="conteudoLogistica" class="row">



   </div>
</div>


<script>

   setInterval(() => {
      var lojas_cadastradas = JSON.parse(
         ajustStrigfy(localStorage.LOJAS_CADASTRADAS)
      );
      // console.log("LOJAS_CADASTRADAS", lojas_cadastradas);
      $("#conteudoLogistica").html("");
      for (const k in lojas_cadastradas) {
         var html =
            '<div style="background: white; margin-left: 2%; margin-top: 25px" class="col-md-3 radius20">  ' +
            '<a style="max-width: 100%" affiliate_id="' +
            lojas_cadastradas[k].affiliate_id +
            '" href="/loja/' +
            lojas_cadastradas[k].affiliates_business_name.replace(/ /g, "_") +
            '"><img style="margin:auto; opacity: 0.5" src="images/default/unidade-sem-foto.jpg"></a><hr>  ' +
            '<h5 class="label" style="text-align: left; font-size: 20px; font-weight: bold">' +
            lojas_cadastradas[k].affiliates_business_name +
            "</h5>" +
            '<p class="label" style="text-align: left; font-size: 14px;">0 métodos de entrega ativos</p>' +
            "</div>";
         $("#conteudoLogistica").append(html);
      }
   }, 2500);

</script>