
<link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="../assets/css/step2.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
 
<div  class="container" style="background: #FFFFFF 0% 0% no-repeat padding-box;">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3"  >
            <div  class=" text-center text-white overflow-hidden" style="width: 100% !important;  height: 100vh; background: #FDFDFD 0% 0% no-repeat padding-box;">
                <div class="logo"></div>
               
                <div style="margin:5vh auto; max-width:1366px" >
                     <h1 class="superTextoUpper">Quais ferramentas opcionais quer inserir em seu delivery?</h1>

                     <div style="margin: 5vh auto;max-width:1000px" class="row">
                         <div class="feature">
                             <svg class="selectedFeature" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31"><defs><style>.a{fill:#50c682;}.b{fill:#fff;}</style></defs><path class="a" d="M15.5,0a15.451,15.451,0,1,0,6.033,1.218A15.451,15.451,0,0,0,15.5,0Z"/><g transform="translate(8.977 10.263)"><path class="b" d="M4.5,8.739,13.052.189a.644.644,0,1,1,.911.911l-9,9a.643.643,0,0,1-.911,0L.188,6.245A.644.644,0,1,1,1.1,5.334Z"/></g></svg>          
                             <div style="background: url(images/banners/newsletter.png);" class="banner"></div>
                             <div class="conteudo4">
                                 <h1 class="superTextoUpper2">Newsletter</h1>
                                <h3 class="superSubTextoUpper2">Deixe seus clientes se cadastrarem na sua lista de e-mails</h3>  
                             </div>                            
                         </div>
                         <div class="feature">
                             <svg class="selectedFeature" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31"><defs><style>.a{fill:#50c682;}.b{fill:#fff;}</style></defs><path class="a" d="M15.5,0a15.451,15.451,0,1,0,6.033,1.218A15.451,15.451,0,0,0,15.5,0Z"/><g transform="translate(8.977 10.263)"><path class="b" d="M4.5,8.739,13.052.189a.644.644,0,1,1,.911.911l-9,9a.643.643,0,0,1-.911,0L.188,6.245A.644.644,0,1,1,1.1,5.334Z"/></g></svg>          
                             <div style="background: url(images/banners/receitas.png);" class="banner"></div>
                             <div class="conteudo4">
                                 <h1 class="superTextoUpper2">Receitas</h1>
                                <h3 class="superSubTextoUpper2">Venda os ingredientes de uma receita de maneira rápida</h3>  
                             </div>                                 
                         </div>
                         <div class="feature">
                             <svg class="selectedFeature" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31"><defs><style>.a{fill:#50c682;}.b{fill:#fff;}</style></defs><path class="a" d="M15.5,0a15.451,15.451,0,1,0,6.033,1.218A15.451,15.451,0,0,0,15.5,0Z"/><g transform="translate(8.977 10.263)"><path class="b" d="M4.5,8.739,13.052.189a.644.644,0,1,1,.911.911l-9,9a.643.643,0,0,1-.911,0L.188,6.245A.644.644,0,1,1,1.1,5.334Z"/></g></svg>          
                             <div style="background: url(images/banners/assinatura.png);" class="banner"></div>
                             <div class="conteudo4">
                                 <h1 class="superTextoUpper2">Assinatura</h1>
                                <h3 class="superSubTextoUpper2">Venda assinturas de cestas prontas ou personalisadas para seus clientes</h3>  
                             </div>      
                         </div>
                    </div>
                     <div style="margin:auto;max-width:1000px" class="row">
                         <div class="feature">
                             <svg class="selectedFeature" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31"><defs><style>.a{fill:#50c682;}.b{fill:#fff;}</style></defs><path class="a" d="M15.5,0a15.451,15.451,0,1,0,6.033,1.218A15.451,15.451,0,0,0,15.5,0Z"/><g transform="translate(8.977 10.263)"><path class="b" d="M4.5,8.739,13.052.189a.644.644,0,1,1,.911.911l-9,9a.643.643,0,0,1-.911,0L.188,6.245A.644.644,0,1,1,1.1,5.334Z"/></g></svg>          
                             <div style="background: url(images/banners/regua.png);" class="banner"></div>
                             <div class="conteudo4">
                                 <h1 class="superTextoUpper2">Régua de entrega grátis</h1>
                                <h3 class="superSubTextoUpper2">Você oferece entrega grátis por um valor mínimo? Mostre para os seus clientes</h3>  
                             </div>                                   
                         </div>
                         <div class="feature">
                             <svg class="selectedFeature" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31"><defs><style>.a{fill:#50c682;}.b{fill:#fff;}</style></defs><path class="a" d="M15.5,0a15.451,15.451,0,1,0,6.033,1.218A15.451,15.451,0,0,0,15.5,0Z"/><g transform="translate(8.977 10.263)"><path class="b" d="M4.5,8.739,13.052.189a.644.644,0,1,1,.911.911l-9,9a.643.643,0,0,1-.911,0L.188,6.245A.644.644,0,1,1,1.1,5.334Z"/></g></svg>          
                             <div style="background: url(images/banners/rodape.png);" class="banner"></div>
                             <div class="conteudo4">
                                 <h1 class="superTextoUpper2">Banner Rodapé</h1>
                                <h3 class="superSubTextoUpper2">Adicione um banner ao rodapé do site.<br>Divulgue o que for importante! </h3>  
                             </div>      
                         </div>
                         <div class="feature">
                             <svg class="selectedFeature" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31"><defs><style>.a{fill:#50c682;}.b{fill:#fff;}</style></defs><path class="a" d="M15.5,0a15.451,15.451,0,1,0,6.033,1.218A15.451,15.451,0,0,0,15.5,0Z"/><g transform="translate(8.977 10.263)"><path class="b" d="M4.5,8.739,13.052.189a.644.644,0,1,1,.911.911l-9,9a.643.643,0,0,1-.911,0L.188,6.245A.644.644,0,1,1,1.1,5.334Z"/></g></svg>          
                             <div style="background: url(images/banners/comentario.png);" class="banner"></div>
                             <div class="conteudo4">
                                 <h1 class="superTextoUpper2">Comnetário para o separador</h1>
                                <h3 class="superSubTextoUpper2">Possibilite aos seus clientes a enviarem informações de como querem os produtos</h3>  
                             </div>      
                         </div>
                    </div>
                         

                         
                   
                    <br>
                    <br>
                    <br>
                          <div class="tobeContinued">
                            <p class="txtContinue continuar">Continuar</p>
                        </div>
                        <div class="btnPula  voltar">
                            <p class="txtVolta">Voltar</p>
                        </div> 
                </div>
            </div>
               
         
             
        </div>
        

</div>
<script>
    localStorage.idPageStartup = 12
    localStorage.stage = 12
</script>

