<style>
    .titulo {
        text-align: left;

        font-weight: bold;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        font-size: 1.6rem;
    }
    .sub {
        text-align: center;
        font: normal normal 300 18px/32px Roboto;
        letter-spacing: 0px;
        color: #6a6a6a;
        opacity: 1;
    }
    h3 {
        text-align: center;
        font: normal normal 300 24px/32px Roboto;
        letter-spacing: 0px;
        color: #6a6a6a;
        opacity: 1;
    }
    .inputTXT {
        width: 100%;
        height: 52px;
        background: #f0f0f0 0% 0% no-repeat padding-box;
        border: 1px solid #efefef;
        border-radius: 5px;
        opacity: 1;
        font-weight: normal;
        font-size: 1.2rem;
        margin-top: 5%;
        margin-left: 10%;
    }
    .btnStart {
        width: 250px;
        height: 53px;
        background: #50c682 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        float: right !important;
        margin-top: 5%;
        margin-right: -10%;
    }
    .fale {
        height: 21px;

        text-align: center;
        font: normal normal 300 16px/21px Roboto;
        letter-spacing: 0px;
        color: #6a6a6a;
        opacity: 1;
    }
    .lead {
        text-align: left;
        font: normal normal 300 42px/52px Roboto;
        letter-spacing: 0px;
        color: #6a6a6a;
        opacity: 1;
    }

    .centro {
        margin-top: 30%;
    }
    .active {
        background: #ffffff 0% 0% no-repeat padding-box;
    }
    .box1 {
        width: 80%;
        top: 0px;
        left: 564px;
        height: 768px;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .label1 {
        max-width: 90%;
        font: var(--unnamed-font-style-normal) normal bold 27px/35px var(--unnamed-font-family-roboto);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 27px/35px Roboto;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        margin-left: 10%;
        margin-top: -5%;
    }
    .tt1 {
        margin-left: 10%;

        text-align: left;
        margin-top: 3%;
        font-size: 1rem;
    }
    .box2 {
        top: 0px;
        left: 564px;
        width: 802px;
        height: 868px;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .horarioSel{
        text-align: right;
        font: normal normal normal 18px/24px Roboto;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        margin-top: 55px;
    }
 .boxHorario{
        width: 77px;
        height: 52px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 25px #50C6820F;
        border: 1px solid #50C682;
        border-radius: 5px;
        opacity: 1;
        margin: -15px auto;
    }
 .miniTexto{
        text-align: center;
        font: normal normal normal 12px/16px Roboto;
        letter-spacing: 0px;
        color: #50C682;
        margin: -10px -55px;
        position: absolute;
        opacity: 1;
        background-color: white;
        padding: 2px;
    }

.checkSmart {
    display: block;
    position: relative;
    padding-left: 35px;
   margin: 20% 25% !important;
    border-radius: 2px;
    cursor: initial;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

  .checkSmart input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  

  .subSmart input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .imgContainer{
      max-width: 70px !important;
  }
  

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #687C97;
    border-radius: 30%;
  }
  
  
  .checkSmart:hover input ~ .checkmark {
    background-color: white;
  }
  

  .checkSmart input:checked ~ .checkmark {
    background-color: #50C682;
  }
  

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .checkSmart input:checked ~ .checkmark:after {
    display: block;
  }
  

  .checkSmart .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }






  .subSmart:hover input ~ .checkmark {
    background-color: white;
  }
  

  .subSmart input:checked ~ .checkmark {
    background-color: #50C682;
  }
  

  .subSmart:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .subSmart input:checked ~ .checkmark:after {
    display: block;
  }
  

  .subSmart .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.boxSemExpediente{
   width: 150px;
    height: 31px;
    background: #DCEFE3 0% 0% no-repeat padding-box;
    border-radius: 34px;
    opacity: 1;
        text-align: center;
    padding-top: 2px;
}
.txtSemExpediente{
    text-align: center;
    font: normal normal 300 16px/21px Roboto;
    letter-spacing: 0px;
    color: #50C682;
    opacity: 1;
}
.col{
    max-height: 50px;
}
.noBorder{
        border: none;
    text-align: left;
    font: normal normal 300 18px Roboto;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin: 10px auto;
}
.oculta{
    display: none;
}
.myLabel{
        text-align: left;
    float: left;
    margin: auto 15px;
}
.inputFull{
    width: 539px;
    height: 52px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    opacity: 1;
    margin: 15px auto;
}
.inputMeio{
    width: 288px;
    height: 52px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    opacity: 1;
    margin:  auto;
}
.inputOutro{
    width: 238px;
    height: 52px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    opacity: 1;
    margin: auto 10px;
}
.note{
    display: inline-flex;
}
</style>
<div class="container" style="background: #ffffff 0% 0% no-repeat padding-box;">
    <div class="d-md-flex ">
        <div style="height: 101vh; padding: 10px 25px" class="text-center text-white overflow-hidden sideBar2">
            <div class="logoSVG"></div>

            <br />

            <div class="lab">
                <h4 class="hiperText">
                    Cadastre a <br />
                    loja principal
                </h4>
                <h5 class="txtDescrevePagina">
                   Estes serão os dados de endereço e CNPJ em exibição na sua loja.
                </h5>
            </div>

            <div class="row fieldSteps">
                <div  class="step st1 active"></div>
                <div class="step st2"></div>
                <div class="step st3"></div>
                <div class="step st4"></div>
            </div>
        </div>
        <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden box2">
            <div id="passo"   class="container box1">
                <div class="row centro">
                    <img src="../images/default/1.svg" style="max-width: 60px;" />
                    <label class="contexto label1">
                        Quais os dados da loja principal que irá atuar no delivery?
                    </label>
                </div>
                <h3 class="tt1">
                    Esses dados irão aparecer para o seu cliente na hora da compra 
                </h3>

                <input type="text" list="lojes" id="razaoSocial" placeholder="Razão Social" class="form-control inputTXT" />
                <input type="text" id="cnpj" list="cnpjtas" placeholder="CNPJ" class="form-control inputTXT cnpj" />
                <input type="submit" class="btn btn-success btnStart continuarStep" value="Continuar" />
            </div>
            <div style="display: none;" id="passo1" class="container box1">
                <div class="row centro">
                    <img src="../images/default/2.svg" style="width: 70px;" />
                    <label class="contexto label1">
                       Dados de contato
                    </label>
                </div>
                <h3 class="tt1">
                    Esses dados irão aparecer para o seu cliente na hora da compra 1
                </h3>

                <input type="text" id="telefone" list="telphones" placeholder="Telefone" class="form-control inputTXT tele" />
                <input type="text" id="email" list="meils" placeholder="E-mail" class="form-control inputTXT" />
                <input type="submit" class="btn btn-success btnStart continuarStep" value="Continuar" />
            </div>

            <div style="display: none;"  id="passo2" class="container box1">
                <div class="row centro">
                    <img src="../images/default/3.svg" style="width: 70px;" />
                    <label class="contexto label1">
                      Horário de funcionamento do delivery
                    </label>
                </div>
                <h3 class="tt1">
                    Selecione os horários de funcionamento do delivery. Caso algum dia não esteja selecionado, aparecerá como “sem expediente”.
                </h3>

               <div  class="row horarioSel">
                    <div style="max-width: 30px;" class="col">
                      <label class="checkSmart"><input class="checka form-control" type="checkbox" /><span class="checkmark"></span></label>
                    </div>
                    <div style="min-width: 250px;max-width: 250px;" class="col">
                        <label class="myLabel">De segunda a sexta <span class="oculta">das</span> </label>
                    </div>
                    <div class="col oculta">
                         <div style="float: right;" class="boxHorario">
                              <label class="miniTexto">Início</label>
                              <input dia="segundaSexta" placeholder="00:00" type="text" class="form-control noBorder inicio">
                        </div>
                    </div>
                    <div style="max-width: 50px;text-align: center;" class="col oculta">
                            <label>às</label>
                    </div>
                    <div class="col oculta">
                        <div style="float: left;" class="boxHorario">
                            <label class="miniTexto">Fim</label>
                            <input placeholder="00:00" type="text" class="form-control noBorder fim">
                        </div>
                    </div>
                     <div   class="col mostra">
                         <div class="boxSemExpediente">
                             <label class="txtSemExpediente">
                                 Sem Expediente
                             </label>
                         </div>
                    </div>

                </div>
                <div  class="row horarioSel">
                    <div style="max-width: 30px;" class="col">
                      <label class="checkSmart"><input class="checka form-control" type="checkbox" /><span class="checkmark"></span></label>
                    </div>
                    <div style="min-width: 250px;max-width: 250px;" class="col">
                        <label  class="myLabel">Aos sábados <span class="oculta">das</span> </label>
                    </div>
                    <div class="col oculta">
                         <div style="float: right;" class="boxHorario">
                              <label class="miniTexto">Início</label>
                              <input  dia="sabados"  placeholder="00:00" type="text" class="form-control noBorder inicio">
                        </div>
                    </div>
                    <div style="max-width: 50px;text-align: center;" class="col oculta">
                                <label>às</label>
                    </div>
                    <div class="col oculta">
                        <div style="float: left;" class="boxHorario">
                            <label class="miniTexto">Fim</label>
                            <input placeholder="00:00" type="text" class="form-control noBorder fim">
                        </div>
                    </div>
                     <div   class="col mostra">
                         <div class="boxSemExpediente">
                             <label class="txtSemExpediente">
                                 Sem Expediente
                             </label>
                         </div>
                    </div>

                </div>
                <div  class="row horarioSel">
                    <div style="max-width: 30px;" class="col">
                      <label class="checkSmart"><input class="checka form-control" type="checkbox" /><span class="checkmark"></span></label>
                    </div>
                    <div style="min-width: 250px;max-width: 250px;" class="col">
                        <label class="myLabel">Aos domingos <span class="oculta">das</span> </label>
                    </div>
                    <div class="col oculta">
                         <div style="float: right;" class="boxHorario">
                              <label class="miniTexto">Início</label>
                              <input  dia="domingos" placeholder="00:00" type="text" class="form-control noBorder inicio">
                        </div>
                    </div>
                    <div style="max-width: 50px;text-align: center;" class="col oculta">
                            <label>às</label>
                    </div>
                    <div class="col oculta">
                        <div style="float: left;" class="boxHorario">
                            <label class="miniTexto">Fim</label>
                            <input placeholder="00:00" type="text" class="form-control noBorder fim">
                        </div>
                    </div>
                     <div   class="col mostra">
                         <div class="boxSemExpediente">
                             <label class="txtSemExpediente">
                                 Sem Expediente
                             </label>
                         </div>
                    </div>

                </div>
                

                


                



                <input type="submit" style="margin-top: 50px;" class="btn btn-success btnStart continuarStep" value="Continuar" />
            </div>
              <div style="display: none;"  id="passo3" class="container box1">
                <div class="row centro">
                    <img src="../images/default/4.svg" style="width: 70px;" />
                    <label class="contexto label1">
                      Endereço
                    </label>
                </div>
              
                <h3 class="tt1">
                    Esses dados irão aparecer para o seu cliente na hora da compra 1
                </h3> 
                  <br>
               
                <div class="container">
                    <input class="form-control inputFull pegaInput cep" placeholder="Cep">
                    <div class="note">
                        <input class="form-control inputMeio pegaInput" placeholder="Cidade">
                        <input class="form-control inputOutro pegaInput" placeholder="Estado">
                    </div>
                     <input class="form-control inputFull pegaInput" placeholder="Bairro">
                      <input list="enderecus" class="form-control inputFull pegaInput" placeholder="Endereço">
                       <input class="form-control inputFull pegaInput" placeholder="Número">
                </div>

                <input type="submit" style="margin-top: 50px;" class="btn btn-success btnStart continuar" value="Continuar" />
            </div>

<datalist id="lojes"> </datalist>
<datalist id="cnpjtas"> </datalist>
<datalist id="telphones"> </datalist>
<datalist id="meils"> </datalist>
<datalist id="enderecus"> </datalist>



        </div>
    </div>
</div>
<script>
    
    localStorage.idPageStartup = 3;
    localStorage.stage = 3;
    var mainHost = localStorage.MY_DOMAIN;
    localStorage.subStage = 0
    localStorage

    $("#razaoSocial").val(localStorage.razaoSocial);
    $("#cnpj").val(localStorage.CNPJ);

    $.ajax({
        type: "POST",
        url: mainHost + "/getAllAffiliates",
        data: { affiliate_id: localStorage.MASTER_ID},
        headers: {
            "x-access-token": localStorage.token,
            is_product_image: true,
        },
        success: function (data) {
            //console.log(data);
            localStorage.LOJAS_CADASTRADAS = JSON.stringify(data);
            for(const k in data){
                $("#lojes").append("<option>"+data[k].affiliates_business_name+"</option>")
                $("#cnpjtas").append("<option>"+data[k].affiliates_business_cnpj+"</option>")
                $("#telphones").append("<option>"+data[k].affiliates_business_telefone+"</option>")
                $("#enderecus").append("<option>"+data[k].affiliates_business_endereco+"</option>")
                
                $("#meils").append("<option>"+(data[k].affiliates_business_mail != null && data[k].affiliates_business_mail != 'null'? data[k].affiliates_business_mail :'' )+"</option>")
                
            }
        },
        error: function (data) {
            //console.log(data);
            if (data.responseJSON.message.indexOf("token") > -1) {
                alert("Necessário fazer login!<br>" + data.responseJSON.message);
                setTimeout(() => {
                    location.replace("/startup?login");
                }, 2000);
            } else {
                alert("Algo saiu errado!<br>" + data.responseJSON.message);
            }
        },
        complete: function () {
            // ao final da requisição...
        },
    });


    $(".checkSmart").change(function(){
        if($(this).attr("chec") == "checkado"){            
            $(this).removeAttr("chec")
             $(this).parent().parent().find(".mostra").fadeIn()
            $(this).parent().parent().find(".oculta").hide()
        }else{
            $(this).parent().parent().find(".mostra").hide()
            $(this).parent().parent().find(".oculta").fadeIn()
             $(this).attr("chec","checkado")
             
        }
    })
var horariosFull = {"segundaSexta":"Sem expediente","sabados":"Sem expediente", "domingos":"Sem expediente"}
    $(".continuarStep").click(function(){
        //console.log("....")
        switch(localStorage.subStage){
            case "0":
                if($("#cnpj").val() != "" && $("#razaoSocial").val() != ""){
                    localStorage.subStage = Number(localStorage.subStage) +1
                    $("#passo").hide()
                    $("#passo"+localStorage.subStage).fadeIn()
                   
                }else{
                    $("#cnpj").css("border", "1px solid red")
                    $("#razaoSocial").css("border", "1px solid red")
                    alert("Preencha todos os campos corretamente!")
                }
            break;
            case "1":
                if($("#email").val() != "" && $("#telefone").val() != ""){
                    $("#passo"+localStorage.subStage).hide()
                    localStorage.subStage = Number(localStorage.subStage) +1                
                    $("#passo"+localStorage.subStage).fadeIn()
               
                }else{
                    $("#email").css("border", "1px solid red")
                    $("#telefone").css("border", "1px solid red")
                    alert("Preencha todos os campos corretamente!")
                }

            break;
            case "2":
        
                $(".checkSmart").each(function(){
                    if($(this).attr("chec") == "checkado"){
                        if($(this).parent().parent().find(".inicio").attr("dia") == "segundaSexta" ){
                            horariosFull.segundaSexta = $(this).parent().parent().find(".inicio").val() +" às "+$(this).parent().parent().find(".fim").val()
                        }
                        if($(this).parent().parent().find(".inicio").attr("dia") == "domingos" ){
                            horariosFull.domingos = $(this).parent().parent().find(".inicio").val() +" às "+$(this).parent().parent().find(".fim").val()
                        }
                        if($(this).parent().parent().find(".inicio").attr("dia") == "sabados" ){
                            horariosFull.sabados = $(this).parent().parent().find(".inicio").val() +" às "+$(this).parent().parent().find(".fim").val()
                        }
                    }
                })
                localStorage.HORARIOS_CONF = JSON.stringify(horariosFull)
                $("#passo"+localStorage.subStage).hide()
                localStorage.subStage = Number(localStorage.subStage) +1                
                $("#passo"+localStorage.subStage).fadeIn()
                

            break;
            case "3":
            break;
            default:
            break;
        }
    })
</script>

      <script src="../js/jquery.inputMask.js"></script>
  <script>
      
$(document).ready(function(){
    $('.cep').mask('00000-000');
    $('.tele').mask('(00) 0000-0000');
    $('.cel').mask('(00) 00000-0000');
    $('.cnpj').mask('00.000.000/000-00', {reverse: true});
  
});
  </script>
