
<link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="../assets/css/step2.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
 
<div  class="container" style="background: #FFFFFF 0% 0% no-repeat padding-box;">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3"  >
            <div  class=" text-center text-white overflow-hidden" style="width: 100% !important;  height: 100vh; background: #FDFDFD 0% 0% no-repeat padding-box;">
                <div class="logo"></div>
               
                <div style="margin:5vh auto; max-width:1366px" >
                     

                     <div style="margin: 5vh auto;max-width:1000px" class="row">
                         <h1 class="superTextoUpper">Agora está tudo pronto!</h1>
                         <h3 class="superSubTextoUpper">Vamos preparar sua loja</h3>

                         <div class="loading">
                             <div class="conteudoLoading"></div>
                         </div>
                         <br>
                         <div class="row" style="max-width: 48%;padding-left: 60px;margin: 30px auto;">                             
                            <svg style="     margin: auto -55px auto auto; max-width: 20%;" xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45"><defs><style>.a,.f{fill:#99d4ae;}.a{opacity:0.115;}.b{fill:#1b763c;}.c{fill:#dff3fa;}.d{fill:#fff;}.e{fill:#b2dbf7;}.g{opacity:0.25;mix-blend-mode:screen;isolation:isolate;}.h{fill:#5e9fe1;}.i{fill:#4194d8;}.j{fill:#1779da;}</style></defs><g transform="translate(-77 -85)"><g transform="translate(77 85)"><circle class="a" cx="22.5" cy="22.5" r="22.5"/><g transform="translate(7.5 5.114)"><g transform="translate(0 14.512)"><path class="b" d="M40.54,418.023H38.346a.33.33,0,0,1,0-.66H40.54a.33.33,0,0,1,0,.66Z" transform="translate(-38.016 -417.363)"/><g transform="translate(26.83)"><path class="b" d="M203.208,418.023h-2.194a.33.33,0,0,1,0-.66h2.194a.33.33,0,0,1,0,.66Z" transform="translate(-200.684 -417.363)"/></g></g><g transform="translate(14.512)"><path class="b" d="M126.33,332.233a.33.33,0,0,1-.33-.33V329.71a.33.33,0,0,1,.66,0V331.9A.33.33,0,0,1,126.33,332.233Z" transform="translate(-126 -329.38)"/></g><g transform="translate(4.25 4.25)"><path class="b" d="M65.667,357.36a.33.33,0,0,1-.233-.1l-1.551-1.551a.33.33,0,0,1,.466-.466L65.9,356.8a.33.33,0,0,1-.233.563Z" transform="translate(-63.785 -355.149)"/><g transform="translate(18.972 18.972)"><path class="b" d="M180.691,472.385a.329.329,0,0,1-.233-.1l-1.551-1.551a.33.33,0,0,1,.466-.466l1.551,1.551a.33.33,0,0,1-.233.563Z" transform="translate(-178.81 -470.174)"/></g></g><g transform="translate(4.25 4.25)"><g transform="translate(18.972)"><path class="b" d="M179.139,357.36a.33.33,0,0,1-.233-.563l1.551-1.551a.33.33,0,0,1,.466.466l-1.551,1.551A.33.33,0,0,1,179.139,357.36Z" transform="translate(-178.81 -355.149)"/></g><g transform="translate(0 18.972)"><path class="b" d="M64.115,472.385a.33.33,0,0,1-.233-.563l1.551-1.551a.33.33,0,0,1,.466.466l-1.551,1.551A.329.329,0,0,1,64.115,472.385Z" transform="translate(-63.785 -470.174)"/></g></g><g transform="translate(4.597 4.176)"><g transform="translate(0.33 0.33)"><path class="c" d="M76.658,356.767a9.907,9.907,0,0,0-5.373,17.308,8.367,8.367,0,0,1,2.568,4.017h7.9a8.074,8.074,0,0,1,2.519-3.973,9.908,9.908,0,0,0-7.613-17.352Z" transform="translate(-67.888 -356.699)"/></g><g transform="translate(0.33 0.804)"><path class="d" d="M73.479,377.281a11.1,11.1,0,0,1,1.293-17.706,9.907,9.907,0,0,0-3.487,16.9,8.367,8.367,0,0,1,2.568,4.017h2.028A9.379,9.379,0,0,0,73.479,377.281Z" transform="translate(-67.888 -359.575)"/></g><g transform="translate(4.987 0.331)"><g transform="translate(1.305)"><path class="e" d="M115.5,360.149a9.908,9.908,0,0,0-8.089-3.429,9.907,9.907,0,0,1,5.7,17.389,8.073,8.073,0,0,0-2.519,3.973h-6.567l0,.012h7.9a8.075,8.075,0,0,1,2.519-3.973A9.908,9.908,0,0,0,115.5,360.149Z" transform="translate(-104.029 -356.703)"/></g><path class="e" d="M107.591,360.149A9.908,9.908,0,0,0,99.5,356.72a9.907,9.907,0,0,1,5.7,17.389,8.075,8.075,0,0,0-2.519,3.973H96.12l0,.012h7.9a8.074,8.074,0,0,1,2.519-3.973A9.908,9.908,0,0,0,107.591,360.149Z" transform="translate(-96.12 -356.703)"/></g><g transform="translate(0)"><path class="b" d="M80.08,376.75h-7.9a.33.33,0,0,1-.317-.239,8.016,8.016,0,0,0-2.467-3.858,10.242,10.242,0,1,1,13.418.045,7.719,7.719,0,0,0-2.416,3.81A.33.33,0,0,1,80.08,376.75Zm-7.655-.66h7.407a8.372,8.372,0,0,1,2.551-3.893,9.578,9.578,0,0,0-7.36-16.774h0a9.577,9.577,0,0,0-5.194,16.731A8.673,8.673,0,0,1,72.425,376.091Zm2.56-20.995h0Z" transform="translate(-65.885 -354.699)"/></g><g transform="translate(5.031 21.2)"><path class="f" d="M106.3,483.232H96.93a.534.534,0,0,0-.531.418.522.522,0,0,0,.512.625h.018a1,1,0,0,1,.993.905q.03.329.031.66v3.13A1.043,1.043,0,0,0,99,490.014h5.217a1.043,1.043,0,0,0,1.043-1.043v-3.13q0-.33.031-.658a1,1,0,0,1,.993-.907h0a.534.534,0,0,0,.531-.418A.522.522,0,0,0,106.3,483.232Z" transform="translate(-96.389 -483.232)"/></g><g class="g" transform="translate(10.642 21.2)"><g transform="translate(1.045)"><path class="d" d="M140,483.232H138.83a.522.522,0,0,1,.512.625.534.534,0,0,1-.531.418h0a1,1,0,0,0-.994.907q-.029.328-.031.658v3.13a1.043,1.043,0,0,1-1.043,1.043h1.169a1.043,1.043,0,0,0,1.043-1.043v-3.13q0-.33.031-.658a1,1,0,0,1,.993-.907h0a.534.534,0,0,0,.531-.418A.522.522,0,0,0,140,483.232Z" transform="translate(-136.743 -483.232)"/></g><path class="d" d="M133.663,483.232h-1.169a.522.522,0,0,1,.512.625.534.534,0,0,1-.531.418h0a1,1,0,0,0-.993.907q-.03.328-.031.658v3.13a1.043,1.043,0,0,1-1.043,1.043h1.169a1.043,1.043,0,0,0,1.043-1.043v-3.13q0-.33.03-.658a1,1,0,0,1,.994-.907h0a.534.534,0,0,0,.531-.418A.522.522,0,0,0,133.663,483.232Z" transform="translate(-130.407 -483.232)"/></g><g transform="translate(4.701 20.87)"><path class="b" d="M102.544,488.673H97.327a1.375,1.375,0,0,1-1.373-1.373v-3.13c0-.209-.011-.421-.03-.63a.664.664,0,0,0-.665-.605h-.018a.852.852,0,0,1-.836-1.017.862.862,0,0,1,.855-.686h9.371a.852.852,0,0,1,.836,1.017.862.862,0,0,1-.855.686.664.664,0,0,0-.665.607c-.019.208-.029.42-.029.629V487.3A1.375,1.375,0,0,1,102.544,488.673Zm-7.284-6.782a.205.205,0,0,0-.207.151.192.192,0,0,0,.188.233h.018a1.321,1.321,0,0,1,1.322,1.2c.021.227.032.459.033.689V487.3a.714.714,0,0,0,.714.714h5.217a.714.714,0,0,0,.713-.714v-3.13c0-.229.011-.46.032-.687a1.32,1.32,0,0,1,1.322-1.207.205.205,0,0,0,.207-.151.193.193,0,0,0-.188-.233Z" transform="translate(-94.389 -481.231)"/></g><g transform="translate(8.683 27.982)"><path class="f" d="M118.529,524.349h3.13v.521a1.565,1.565,0,0,1-1.565,1.565h0a1.565,1.565,0,0,1-1.565-1.565h0v-.521Z" transform="translate(-118.529 -524.349)"/></g><g transform="translate(9.83 27.982)"><path class="h" d="M126.632,524.348v.522a1.564,1.564,0,0,1-1.147,1.507,1.561,1.561,0,0,0,1.983-1.507v-.522Z" transform="translate(-125.485 -524.348)"/></g><g class="g" transform="translate(9.306 27.982)"><path class="d" d="M123.454,524.348v.522a1.564,1.564,0,0,1-1.147,1.507,1.561,1.561,0,0,0,1.983-1.507v-.522Z" transform="translate(-122.307 -524.348)"/></g><g transform="translate(8.353 27.652)"><path class="b" d="M118.424,525.1a1.9,1.9,0,0,1-1.895-1.895v-.522a.33.33,0,0,1,.33-.33h3.13a.33.33,0,0,1,.33.33v.522A1.9,1.9,0,0,1,118.424,525.1Zm-1.235-2.087v.192a1.235,1.235,0,0,0,2.47,0v-.192Z" transform="translate(-116.529 -522.349)"/></g><g transform="translate(5.569 22.716)"><path class="b" d="M99.977,493.748a.33.33,0,0,1-.025-.659l8.685-.668a.33.33,0,0,1,.05.658l-8.685.668Z" transform="translate(-99.647 -492.421)"/></g><g transform="translate(5.569 24.386)"><path class="b" d="M99.977,503.876a.33.33,0,0,1-.025-.659l8.685-.668a.33.33,0,1,1,.05.658l-8.685.668Z" transform="translate(-99.647 -502.548)"/></g><g transform="translate(5.569 26.056)"><path class="b" d="M99.977,514a.33.33,0,0,1-.025-.659l8.685-.668a.33.33,0,1,1,.05.658L100,514Z" transform="translate(-99.647 -512.674)"/></g><g transform="translate(1.898 4.73)"><path class="e" d="M77.723,388.657l-.044,0a.33.33,0,0,1-.283-.371,10.784,10.784,0,0,1,2.058-4.779.33.33,0,1,1,.527.4,10.093,10.093,0,0,0-1.931,4.47A.33.33,0,0,1,77.723,388.657Z" transform="translate(-77.392 -383.373)"/></g><g transform="translate(4.977 2.868)"><path class="e" d="M96.389,373.384a.33.33,0,0,1-.227-.569,8.491,8.491,0,0,1,.794-.666.33.33,0,1,1,.391.531,7.856,7.856,0,0,0-.732.614A.329.329,0,0,1,96.389,373.384Z" transform="translate(-96.059 -372.084)"/></g></g><g transform="translate(12.085 19.009)"><g transform="translate(0 0)"><path class="b" d="M113.271,451.162a.165.165,0,0,1-.165-.165v-1a2.346,2.346,0,0,0-.85-1.81,2.675,2.675,0,0,1-.969-2.064v-1.322a.165.165,0,1,1,.33,0v1.322a2.346,2.346,0,0,0,.85,1.81,2.675,2.675,0,0,1,.97,2.064v1A.165.165,0,0,1,113.271,451.162Z" transform="translate(-111.286 -444.63)"/></g><g transform="translate(3.364 0)"><path class="b" d="M131.847,451.162a.165.165,0,0,1-.165-.165v-1a2.675,2.675,0,0,1,.97-2.064,2.346,2.346,0,0,0,.85-1.81v-1.322a.165.165,0,1,1,.33,0v1.322a2.675,2.675,0,0,1-.969,2.064,2.346,2.346,0,0,0-.85,1.81v1A.165.165,0,0,1,131.847,451.162Z" transform="translate(-131.682 -444.63)"/></g></g><g transform="translate(8.496 8.561)"><g transform="translate(0.165 0.165)"><path class="f" d="M95.491,382.282a1.226,1.226,0,0,0-1.226,1.227c0,.035,0,.07,0,.1a1.76,1.76,0,0,0-2.022,2.338,1.76,1.76,0,0,0-.881,3.173,1.227,1.227,0,0,0,.163,2.372,1.834,1.834,0,0,0,2.427,2.619,1.393,1.393,0,0,0,2.759-.275V383.509a1.226,1.226,0,0,0-1.225-1.227Z" transform="translate(-90.525 -382.282)"/></g><g transform="translate(4.572 0.165)"><path class="i" d="M117.8,382.282a1.222,1.222,0,0,0-.391.064,1.227,1.227,0,0,1,.835,1.163V393.84a1.4,1.4,0,0,1-1,1.339,1.393,1.393,0,0,0,1.784-1.339V383.509a1.226,1.226,0,0,0-1.226-1.227Z" transform="translate(-117.243 -382.282)"/></g><g transform="translate(6.336 0.165)"><g transform="translate(4.58 6.78)"><path class="f" d="M157.123,425.284a1.227,1.227,0,0,0-1.413-1.833" transform="translate(-155.71 -423.389)"/></g><g transform="translate(1.839 1.291)"><path class="f" d="M140.917,393.412a1.76,1.76,0,1,0-1.825-3" transform="translate(-139.092 -390.107)"/></g><g transform="translate(2.144 8.825)"><path class="f" d="M140.939,438.223a1.834,1.834,0,1,0,2.691-2.439" transform="translate(-140.939 -435.784)"/></g><path class="f" d="M129.165,382.282a1.226,1.226,0,0,1,1.225,1.227c0,.035,0,.07,0,.1a1.76,1.76,0,0,1,2.022,2.338,1.76,1.76,0,0,1,.881,3.173,1.227,1.227,0,0,1-.163,2.372,1.834,1.834,0,0,1-2.427,2.619,1.393,1.393,0,0,1-2.759-.275V383.509a1.226,1.226,0,0,1,1.225-1.227Z" transform="translate(-127.94 -382.282)"/></g><g transform="translate(7.093 0.165)"><path class="i" d="M137.956,390.141a1.226,1.226,0,0,0-.833-1.017,1.76,1.76,0,0,0-.881-3.173,1.759,1.759,0,0,0-2.022-2.338c0-.035,0-.069,0-.1a1.225,1.225,0,0,0-1.694-1.134,1.227,1.227,0,0,1,.912,1.186h0a.085.085,0,0,0,.1.084,1.758,1.758,0,0,1,2.031,1.738q0,.089-.009.175a.516.516,0,0,0,.334.539,1.761,1.761,0,0,1,.444,3.077,1.227,1.227,0,0,1,.379,2.126.81.81,0,0,0-.283.83,1.838,1.838,0,0,1-1.27,2.2,1.836,1.836,0,0,0,1.794-2.839,1.227,1.227,0,0,0,1-1.354Z" transform="translate(-132.531 -382.282)"/></g><g transform="translate(6.171)"><g transform="translate(4.58 6.78)"><path class="b" d="M156.287,424.614a.165.165,0,0,1-.138-.255,1.063,1.063,0,0,0-.235-1.415,1.064,1.064,0,0,0-.987-.172.165.165,0,0,1-.1-.314,1.444,1.444,0,0,1,.269-.06,1.391,1.391,0,0,1,1.548,1.214,1.4,1.4,0,0,1-.214.926A.164.164,0,0,1,156.287,424.614Z" transform="translate(-154.71 -422.388)"/></g><g transform="translate(1.839 1.291)"><path class="b" d="M140.082,392.742a.165.165,0,0,1-.079-.309,1.595,1.595,0,1,0-1.654-2.723.165.165,0,0,1-.185-.273,1.924,1.924,0,1,1,2,3.286A.163.163,0,0,1,140.082,392.742Z" transform="translate(-138.092 -389.107)"/></g><g transform="translate(2.144 8.825)"><path class="b" d="M141.625,438.362a2,2,0,0,1-1.657-.882.165.165,0,1,1,.274-.185,1.669,1.669,0,1,0,2.449-2.22.165.165,0,1,1,.211-.254,2,2,0,0,1-1.276,3.54Z" transform="translate(-139.939 -434.784)"/></g><path class="b" d="M128.5,394.565a1.561,1.561,0,0,1-1.558-1.56V382.674a1.391,1.391,0,0,1,2.778-.09,1.926,1.926,0,0,1,2.071,2.4,1.912,1.912,0,0,1,1.55,1.888,1.934,1.934,0,0,1-.58,1.377,1.392,1.392,0,0,1-.216,2.517,2,2,0,0,1-2.574,2.755A1.563,1.563,0,0,1,128.5,394.565Zm-.168-12.953a1.063,1.063,0,0,0-1.061,1.062v10.331a1.228,1.228,0,0,0,2.433.242.165.165,0,0,1,.243-.111,1.67,1.67,0,0,0,2.209-2.384.165.165,0,0,1,.107-.254,1.062,1.062,0,0,0,.141-2.053.165.165,0,0,1-.046-.29,1.6,1.6,0,0,0,.653-1.287,1.584,1.584,0,0,0-1.45-1.588.165.165,0,0,1-.14-.222,1.593,1.593,0,0,0-1.833-2.119.167.167,0,0,1-.144-.037.165.165,0,0,1-.056-.138c0-.03,0-.06,0-.091A1.063,1.063,0,0,0,128.33,381.612Z" transform="translate(-126.939 -381.282)"/></g><g transform="translate(0 6.78)"><path class="b" d="M89.889,424.614a.164.164,0,0,1-.138-.075,1.393,1.393,0,0,1,.308-1.854,1.38,1.38,0,0,1,1.025-.286,1.444,1.444,0,0,1,.269.06.165.165,0,0,1-.1.314,1.064,1.064,0,0,0-.987.172,1.063,1.063,0,0,0-.235,1.415.165.165,0,0,1-.138.255Z" transform="translate(-89.526 -422.388)"/></g><g transform="translate(1.611 1.291)"><path class="b" d="M100.371,392.742a.163.163,0,0,1-.079-.02,1.925,1.925,0,1,1,2-3.286.165.165,0,0,1-.185.273,1.595,1.595,0,1,0-1.654,2.723.165.165,0,0,1-.079.309Z" transform="translate(-99.29 -389.107)"/></g><g transform="translate(0.693 8.825)"><path class="b" d="M95.725,438.362a2,2,0,0,1-1.276-3.54.165.165,0,1,1,.211.254,1.67,1.67,0,1,0,2.449,2.22.165.165,0,1,1,.274.185A2,2,0,0,1,95.725,438.362Z" transform="translate(-93.727 -434.784)"/></g><path class="b" d="M94.488,394.565a1.563,1.563,0,0,1-1.472-1.047,2,2,0,0,1-2.574-2.755,1.392,1.392,0,0,1-.216-2.517,1.934,1.934,0,0,1-.58-1.377,1.912,1.912,0,0,1,1.55-1.888,1.923,1.923,0,0,1,2.071-2.4,1.391,1.391,0,0,1,2.778.09v10.331A1.561,1.561,0,0,1,94.488,394.565Zm-1.366-1.45a.167.167,0,0,1,.068.015.165.165,0,0,1,.093.118,1.228,1.228,0,0,0,2.433-.242V382.674a1.061,1.061,0,1,0-2.121,0c0,.03,0,.061,0,.091a.165.165,0,0,1-.056.138.168.168,0,0,1-.144.037,1.6,1.6,0,0,0-1.833,2.119.165.165,0,0,1-.14.222,1.584,1.584,0,0,0-1.45,1.588,1.6,1.6,0,0,0,.652,1.287.165.165,0,0,1-.046.29,1.062,1.062,0,0,0,.141,2.053.165.165,0,0,1,.107.254,1.669,1.669,0,0,0,2.209,2.384A.165.165,0,0,1,93.122,393.115Z" transform="translate(-89.525 -381.282)"/><g transform="translate(2.981 5.89)"><path class="b" d="M107.764,418.576a.165.165,0,0,1-.165-.165,1.421,1.421,0,0,1,1.42-1.42.165.165,0,1,1,0,.33,1.091,1.091,0,0,0-1.09,1.09A.165.165,0,0,1,107.764,418.576Z" transform="translate(-107.599 -416.991)"/></g><g transform="translate(7.688 8.048)"><path class="b" d="M136.3,431.662a.165.165,0,1,1,0-.33,1.091,1.091,0,0,0,1.09-1.09.165.165,0,0,1,.33,0A1.421,1.421,0,0,1,136.3,431.662Z" transform="translate(-136.136 -430.077)"/></g><g transform="translate(9.321 4.187)"><path class="b" d="M146.816,408.109a.165.165,0,0,1-.158-.211.734.734,0,0,0-.5-.907.165.165,0,0,1,.092-.317,1.064,1.064,0,0,1,.725,1.316A.165.165,0,0,1,146.816,408.109Z" transform="translate(-146.038 -406.667)"/></g><g transform="translate(1.311 8.409)"><path class="j" d="M98.059,433.251a.169.169,0,0,1-.038,0,.709.709,0,0,1-.526-.855.165.165,0,1,1,.321.077.38.38,0,0,0,.281.457.165.165,0,0,1-.038.325Z" transform="translate(-97.476 -432.265)"/></g><g transform="translate(3.904 2.762)"><path class="b" d="M113.517,398.743a.711.711,0,0,1-.207-.031.165.165,0,1,1,.1-.316.38.38,0,0,0,.474-.253.165.165,0,1,1,.316.1.711.711,0,0,1-.678.5Z" transform="translate(-113.193 -398.027)"/></g></g></g></g></g></svg>
                            <p class="textoLoading">Identificando cores</p>
                         </div>

                        
                    </div>
                     
                         
                    
                </div>
            </div>
               
         
             
        </div>
        

</div>
<script>
    localStorage.idPageStartup = 12
    localStorage.stage = 12
    
var mainHost = localStorage.MY_DOMAIN;

var cores = JSON.parse(localStorage.colors)
var lojas = JSON.parse(localStorage.LISTA_LOJAS)
var ferramentas = JSON.parse(localStorage.ferramentas)
var acessos = JSON.parse(localStorage.ACESSOS)
var categorias = JSON.parse(localStorage.categorias)

//console.log(lojas, ferramentas, cores, acessos, categorias)
var etapa = 0
if(lojas.length > 0){
    $.ajax({
        type: 'POST',
        url: mainHost+'/clearByMasterId',
        headers: {
            "x-access-token": localStorage.token,
        },
        data: {
            "table":"affiliates",
            "prefix":"affiliates",
            "master_id":localStorage.MASTER_ID        
        },
        success: function (data) {
            //console.log("deleta")
            //console.log(data)
            etapa = 20
            for(const k in lojas){
                var tipo = lojas[k].categoria
                var dados = lojas[k].dados, razaoSocial = "", cnpj = "", telefone = "", email = "", horarios = "", endereco = ""
                for(const d in dados){
                    if(dados[d].tag == "razaoSocial"){razaoSocial = dados[d].value}
                    if(dados[d].tag == "cnpj"){cnpj = dados[d].value}
                    if(dados[d].tag == "telefone"){telefone = dados[d].value}
                    if(dados[d].tag == "email"){email = dados[d].value}
                    if(dados[d].tag == "horarios"){horarios = dados[d].value}
                    if(dados[d].tag == "endereco"){endereco = dados[d].value}
                }
                //console.log(tipo, razaoSocial, cnpj, telefone, email, horarios, endereco)
                var fields2 = [
                                {"column": "affiliates_master_id", "value":localStorage.MASTER_ID },
                                {"column": "affiliates_business_name", "value":razaoSocial },
                                {"column": "affiliates_business_telefone", "value":telefone },
                                {"column": "affiliates_business_mail", "value": email },
                                {"column": "affiliates_business_horario", "value":horarios},
                                {"column": "affiliates_business_endereco", "value":endereco},
                                {"column": "affiliates_business_numero", "value":""},
                                {"column": "affiliates_business_cep", "value":"" },
                                {"column": "affiliates_business_bairro", "value":"" },
                                {"column": "affiliates_business_cidade", "value":"" },
                                {"column": "affiliates_business_estado", "value":""},
                                {"column": "affiliates_business_lat_lon", "value":""},
                                {"column": "affiliates_business_tipo", "value":tipo},
                                {"column": "affiliates_business_cnpj", "value":cnpj}
                            ]
                $.ajax({
                    type: 'POST',
                    url: mainHost+'/insertNew',
                    headers: {
                        "x-access-token": localStorage.token,
                    },
                    data: {
                         "table":"affiliates",
                         "fields":[
                                {"column": "affiliates_master_id", "value":localStorage.MASTER_ID },
                                {"column": "affiliates_business_name", "value":razaoSocial },
                                {"column": "affiliates_business_telefone", "value":telefone },
                                {"column": "affiliates_business_mail", "value": email },
                                {"column": "affiliates_business_horario", "value":horarios},
                                {"column": "affiliates_business_endereco", "value":endereco},
                                {"column": "affiliates_business_numero", "value":""},
                                {"column": "affiliates_business_cep", "value":"" },
                                {"column": "affiliates_business_bairro", "value":"" },
                                {"column": "affiliates_business_cidade", "value":"" },
                                {"column": "affiliates_business_estado", "value":""},
                                {"column": "affiliates_business_lat_lon", "value":""},
                                {"column": "affiliates_business_tipo", "value":tipo},
                                {"column": "affiliates_business_cnpj", "value":cnpj}
                         ]
                    },
                    success: function (data) {
                        //console.log("insere")
                        //console.log(data)
                        etapa = etapa+20
                    },
                    error: function (data) {
                        //console.log(data)
                    },
                    complete: function(){
                        // ao final da requisição...
                    }
                });
            }

        },
        error: function (data) {
            //console.log(data)
        },
        complete: function(){
            // ao final da requisição...
        }
    });

}else{
    //console.log("Sem lojas para inserir")
}



$.ajax({
	type: 'POST',
	url: mainHost+'/updateById',
    headers: {
        "x-access-token": localStorage.token,
    },
	data: {
        "table":"masters",
        "name_id":"id",
        "value_id":localStorage.MASTER_ID,
        "fields":[
            {"column": "master_business_name", "value":localStorage.razaoSocial },
            {"column": "master_business_cnpj", "value":localStorage.CNPJ },
            {"column": "master_business_razao", "value":localStorage.razaoSocial },
            {"column": "master_business_telefone", "value": "" },
            {"column": "master_business_mail", "value":localStorage.mailMaster },
            {"column": "master_business_horario", "value":"" },
            {"column": "master_business_endereco", "value":""},
            {"column": "master_business_numero", "value":"" },
            {"column": "master_business_cep", "value":"" },
            {"column": "master_business_cidade", "value":"" },
            {"column": "master_business_estado", "value":""},
            {"column": "master_custom_segmento", "value":localStorage.segmentoPrincipal},
            {"column": "master_custom_logo", "value":localStorage.nameLogo},
            {"column": "master_custom_cor_primeira", "value":localStorage.cor1},
            {"column": "master_custom_cor_segunda", "value":localStorage.cor2},
            {"column": "master_custom_cor_terceira", "value":localStorage.cor3},
            {"column": "master_custom_cor_quarta", "value":localStorage.cor4},
            {"column": "master_custom_categorias", "value":localStorage.categorias},
            {"column": "master_custom_ferramentas", "value":localStorage.ferramentas} 
        ]
    },
	success: function (data) {
		//console.log(data)
        etapa = 10
	},
	error: function (data) {
		//console.log(data)
	},
	complete: function(){
		// ao final da requisição...
	}
});


var confere = setInterval(()=>{
    var initial = 8 * 515 / 100
    var meio = 18 * 515 / 100
    var quase = 90 * 515 / 100
    var acabou = 515
    if(etapa < 10){
        $(".conteudoLoading").css("width",initial+"px")
        $(".textoLoading").text("Registrando lojas...")
    }
     if(etapa < 20){
        $(".conteudoLoading").css("width",meio+"px")
        $(".textoLoading").text("Salvando preferências...")
    }
    if(etapa > 20){
        $(".conteudoLoading").css("width",quase+"px")
        $(".textoLoading").text("Definindo as ferramentas...")
    }
    if(etapa > 40){
        $(".conteudoLoading").css("width",acabou+"px")
        $(".textoLoading").text("Tudo pronto, vamos redirecionálo para o CMS...")
        clearInterval(confere)
        setTimeout(()=>{
            location.replace("/dashboard")
        },3000)
        

    }
},1000)


</script>

