<div style="max-width:100% " class="container">
    <div>
        <h4 style="text-align: center;">Novo Cliente</h4>
    </div>
    <hr class="baixoCabecalho"
        style="position: fixed;top: 115px !important;left: 0px !important;width: 100%;box-shadow: 2px 2px 2px silver;">
    </hr>

    <div class="col-md-12 " style="margin-top: 3% !important; background: white !important">

        <div style="padding:0 2%" class="row">
            <div class="col-md-12"><label style=" font-size: 20px;" class="label">Nome do usuário</label><br> </div>
        </div>
        <div style="padding:0 2%" class="row">
            <div class="col-md-12">
                <div class="group-input2"
                    style="background: #F0F0F0 0% 0% no-repeat padding-box;border: 1px solid #EFEFEF;border-radius: 5px;">
                    <input style="background: none" class="form-control inputProduct filaDeMudancas"
                        placeholder="Nome de usuário" id="nomeCategoria" fieldname="users_affiliate_slug"
                        table="users_affiliates" value="newUser">
                </div><br>
            </div>
        </div><br>
        <hr><br>
        <div style="padding:0 2%" class="row">
            <div class="col-md-12">
                <h3 style=" font-size: 20px;" class="SEO">Permissões</h3><br>
            </div>
        </div><br><br>




    </div>
</div>"