:root {
    --primary: #f6b504;
    --light-green: #dcefe3;
    --alt-green: #49B476;
    --dark-green: #025562;
  
    --light-gray: #f0f0f0;
    --gray: #999797;
    --dark-gray: #6a6a6a;
    --black: #333333;
    --red: #FD0D1B;
  
    --color-pedido-em-andamento: #025562;
  
    --main-padding-horizontal: 2.5rem;
  
    --border-radius: 0.5rem;
    --border-color: #efefef;
  
    --input-padding-horizontal: 2rem;
    --padding-horizontal: 1.5rem;
  
    --transition-duration: 0.2s;
    --transition: var(--transition-duration) ease-out;
  
    --productCardPadding: 0.7rem;
  
    --modalCarrinhoAsideWidth: 95px;

        /* Colors: */
        --unnamed-color-000000: #000000;
        --unnamed-color-6a6a6a: #6A6A6A;

        /* Font/text values */
        --unnamed-font-family-roboto: Roboto;
        --unnamed-font-style-normal: normal;
        --unnamed-font-weight-300: 300px;
        --unnamed-font-size-24: 24px;
        --unnamed-character-spacing-0: 0px;
        --unnamed-line-spacing-32: 32px;
       

       

}
::-webkit-scrollbar {
  width: 0px !important;
}
 /* Character Styles */
.título-vitrines {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6a6a6a);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: var(--dark-gray);
}


body > * {
  font-size: 1.6rem;
  background: #FAFAFD 0% 0% no-repeat padding-box;
}

h1 {
  font-size: 3.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.4rem;
  color: var(--black);

    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */

}
section{
  overflow: auto !important;
  overflow-x: hidden  !important;
  overflow-y: hidden  !important;
  width: 99%;
}
p {
  margin-top: 0;
  
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
  /* cursor: default; */
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: var(--transition);
  
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
  /* cursor: default; */
}

a:hover {
  text-decoration: none;
  color: var(--primary);
}

* {
  box-sizing: border-box;
}


.backgroundBlackTransparent{
  background-color: rgba(0,0,0,.5);
 
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
 
}



input:not([type="checkbox"]) {
  all: unset;
  min-height: 5.3rem;
  padding: 1rem var(--input-padding-horizontal);
  color: var(--black);
  background-color:transparent;
  /*background-color:var(--light-gray);*/
  border: none;
  /*border: 1px solid var(--border-color);*/
  border-radius: var(--border-radius);
  box-sizing: border-box;
  width: 80%;
}

input[type="checkbox"] {
  position: relative;
  top: 1px;
  width: 19px;
	height: 19px;
  margin-right: 5px;
  visibility: hidden;
}

input[type="checkbox"]::before, input[type="checkbox"]::after {
  content: '\00a0';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 13px;
	height: 13px;
  border-radius: 4px;
  transition: var(--transition);
  transform: translate(-50%, -50%);
  visibility: hidden;
}
input[type="checkbox"]::after {
  width: 19px;
	height: 19px;
  border: 1px solid var(--gray);
  visibility: visible;
}
input[type="checkbox"]:checked::before {
  background-color: var(--primary);
  visibility: visible;
}
input[type="checkbox"]:checked::after {
  border-color: var(--primary);
}

fieldset {
  border: 2px solid;
}

legend {
  width: inherit; /* Or auto */
  padding: 0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.dark-green {
  color: var(--dark-green);
}

.container-lg {
  max-width: 1366px;
}

#btn-small {
  min-width: 14.4rem;
  min-height: 4rem;
}

.strong {
  font-weight: bold;
}

/* width */
body *::-webkit-scrollbar {
  width: 15px;
}

/* Track */
body *::-webkit-scrollbar-track {
  background: #EFEFEF;
  border-radius: 14px;
}

/* Handle */
body *::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 14px;
}

/* Handle on hover */
body *::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/*===============================================END GLOBALS============================================*/


.bodyStart{
    background-color: var(--primary);
}
.inconeCarrinho{
  width: 100px;
  height: 100px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px;
  margin-left:-50px;
}
.logo{
  width: 221px;
    height: 47px;
    margin: 25px auto;
    background: transparent url(/assets/icons/logo.svg) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.boasVindas{
  font: var(--unnamed-font-style-normal) normal bold 32px/43px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 32px/43px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.inputField{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 25px #50C6820F;
  border: 1px solid #50C682;
  border-radius: 5px;
  opacity: 1;
  margin: 40px auto;
}
.inpuText{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) 18px/24px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 300 18px/24px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.labelInputField{
  font: var(--unnamed-font-style-normal) normal normal 12px/16px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #50C682;
  opacity: 1;
  position: relative;
  left: 34px;
  background: white;
  top: -28px; 
  padding: 2px;

}
input:-internal-autofill-selected {
  background-color: transparent !important;
}
.btnContinuar{
  background: #50C682 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  margin: auto;
  padding: 20px;
  width: 80%;
  text-align: center;
}
.btnContinuarTxt{
  font: var(--unnamed-font-style-normal) normal normal 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
 
}
.esqueciSenha{
  font: var(--unnamed-font-style-normal) normal bold 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 16px/21px Roboto;
  letter-spacing: 0px;
  color: #50C682;
  opacity: 1;
  margin: 30px auto;

}
.areaFooter{
  background: #DCEFE3 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 40vh;

}

.iconImg{
  margin: auto;

  border: 0;
  margin-left: calc(50% - 106px);
  margin-top: 25px;

}
.topo{
  position: fixed;
  top: 0;
  left: 0;
  height: 15vh;
  width: 100%;
  min-height: 15vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
 
  opacity: 1;
 
}
.tituloPedidos{
  font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-24)/24px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 24px/24px Roboto;
  letter-spacing: 0px;
  color: #222B45;
  opacity: 1;
  display: inline-block;
}
.btnSearch{
  background: #FFFFFD 0% 0% no-repeat padding-box;
    border: 1px solid #EFEFEF;
    border-radius: 100%;
    opacity: 1;
    width: 50px;
    float: right;
    height: 50px;
    margin: -10px auto;
    display: inline-block;
}
.iconSearch{
  background: transparent url(img/.png) 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 15px 15px;
  display: inline-block;
  width: 20px;

}

.itemMenu{
  font: var(--unnamed-font-style-normal) normal bold 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 16px/21px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 1;
  width: 100%;
}
.active{
  color: #F6B504 !important;
}
.menuActive{
  border-bottom: 3px solid #f6b504;
}
.menu{
  margin: 30px auto;
  border-bottom: 1px solid #EDF2F6;
}

.colunaMenu{

  min-width: 32%;
  max-width: 33%;
  display: inline-flex;
}

.rodape{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  /* min-height: 15vh; */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
.subMenu{
  margin: 0px auto;
  border-top: 1px solid #EDF2F6;
  display: inline-flex;
  min-width: 100%;
  /* padding-top: 20px; */
  height: 10vh;
}
.itemSubMenu{
  min-width: 32%;
  max-width: 33%;
  display: inline-flex;
}
.iconeSubMenu{
  margin: auto;
}

.infoAguardando{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EDF2F6;
  border-radius: 27px;
  opacity: 1;
  margin: 20px 20px auto 20px;
  padding: 10px;
  height: 70px;
}
.areaIconeAguardando{
  background: #FFFBF2 0% 0% no-repeat padding-box;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: auto;
  padding: 2px;

}
.txtAguardando{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) 16px/21px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6a6a6a);
    text-align: left;
    font: normal normal 300 16px/21px Roboto;
    letter-spacing: 0px;
    color: #6A6A6A;
    opacity: 1;
    display: inline-block;
    
    width: 80%;
    float: right;
    margin: 15px auto;
  
}
.conteudo{
  position: fixed;
  top: 15.5vh;
  width: 100%;
  max-height: 80vh;
  padding-bottom: 50px;
  overflow: auto!Important;
}
.iconeStore{
  margin: 15px 10px;
  width: 25px;
  display: inline;
}
.cardPedido{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EDF2F6;
  border-radius: 16px;
  opacity: 1;
  max-width: 100%;
  margin: 20px 20px auto 20px;
  padding: 15px ;
}
.numeroPedido{
  font: var(--unnamed-font-style-normal) normal bold 18px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 18px/21px Roboto;
  letter-spacing: 0px;
  color: #222B45;
  opacity: 1;
}
.nomeCliente{
  font: var(--unnamed-font-style-normal) normal normal 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
   
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 1;
 
  margin-left: 25px;
}
.dataRecebimento{
  font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/19px Roboto;
  letter-spacing: 0px;
  color: #F6B504;
  opacity: 1;
}
.areaDetalhe{
  background: #F9F9FC 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
}
.txtDetalhe{
  font: var(--unnamed-font-style-normal) normal normal 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 1;
  padding: 5px;
}
.topoPedido{
  margin: auto;
  border-bottom: 1px solid #EDF2F6;
  display: inline-flex;
  width: 100%;
}
.areaData{
  margin: 10px auto;
}
.iconeVoltar{
  border: 1px solid #F6B504;
  opacity: 1;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 5px auto;
}
.numeroPedidoG{
  font: var(--unnamed-font-style-normal) normal bold 21px/24px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 21px/24px Roboto;
  letter-spacing: 0px;
  color: #222B45;
  opacity: 1;
  display: inline-block;
  max-width: 80%;
  margin: 15px 5px;
}
.areaCliente{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EDF2F6;
  border-radius: 16px;
  opacity: 1;
  padding: 15px;
  display: inline-flex;
  width: 90%;
  gap: 10px;
  margin: auto 25px;

}
.areaIconeCliente{
  background: #F9FAFB 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 1;
  padding: 5px;
}
.iconeCliente{
  width: 30px;
  height: 30px;
  background: #F9FAFB 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 1;
  margin: 5px;
  display: block;
}
.areaLigar{
  border: 1px solid #F6B504;
    border-radius: 20px;
    opacity: 1;
    float: right;
    padding: 10px;
    gap: 10px;
    display: inline-flex;
   margin: auto; 
    text-align: right;
    
 
    right: 50px;
}
.iconeLigar{
  width: 18px;
  height: 20px;
 
  opacity: 1;
  margin: auto;
}
.txtLigar{
  font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/19px Roboto;
  letter-spacing: 0px;
  color: #F6B504;
  opacity: 1;
  margin: auto;
}
.nameClient{
  font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/19px Roboto;
  letter-spacing: 0px;
  color: #222B45;
  opacity: 1;
  margin-left: 20px;
  margin-top: 15px;
  min-width: 40%;
  max-width: 40%;

}
.btnSeparar{
  background: #F6B504 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  width: 80%;
  margin: auto;
  padding: 15px;
}
.txtSeparar{
  font: var(--unnamed-font-style-normal) normal normal 16px/21px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: auto;

}
.arrowLeft{
  margin: 10px 10px 10px 5px;
  width: 30px;
  height: 30px;

}
.topo-pedido{
  position: fixed;
  top: 0;
  left: 0;
  height: 11vh;
  width: 100%;
  min-height: 11vh;
  background: #FFFFFF 0% 0% no-repeat padding-box; 
  opacity: 1;
  border-bottom: 1px solid #EDF2F6;
}
.areaInformativa{
  display: inline-flex;
  padding: 25px;
  gap: 25px;
  margin: auto;
}
.iconeInformativo{
  background: #F9FAFB 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: auto;
  padding: 10px;
}
.iconeInforma{
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
}
.areaDosDetalhes{
  line-height: 1;
}
.entrega, .valorTotal2, .pagamento2{
  font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/19px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 1;
  margin: auto;
}
 
.tipoEntrega,.tipoEntrega2{
  font: var(--unnamed-font-style-normal) normal bold 18px/24px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 18px/24px Roboto;
  letter-spacing: 0px;
  color: #222B45;
  opacity: 1;
  margin: auto
}
.endereco{
  font: var(--unnamed-font-style-normal) normal normal 14px/16px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 14px/16px Roboto;
letter-spacing: 0px;
color: #687C97;
opacity: 1;
margin: auto
}
.topo-produto{
  border-bottom: 1px solid #EDF2F6;
    display: inline-flex;
    padding: 15px;
    gap: 25px;
    margin: auto;
}
.cabecalhoProduto{
  margin: auto;
}
.footer-produto{

  padding: 25px;
  display: inline-flex;
  gap: 50px;
  margin: auto;
  width: 80%;

}
.cardProduto{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EDF2F6;
  border-radius: 5px 0px 0px 5px;
  opacity: 1;
  width: calc(100% - 150px);
 
  border-left: 5px solid #f6b504;

}
.imagenProduto{
  opacity: 1;
  min-width: 70px;
  background-size: cover !important;
  width: 20%;
  max-width: 110px;
  zoom: 50%;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.nomeProduto{
  font: var(--unnamed-font-style-normal) normal bold 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 16px/21px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;

}
.pesoProduto{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-6a6a6a);
  text-align: left;
  font: normal normal 300 16px/21px Roboto;
  letter-spacing: 0px;
  color: #6A6A6A;
  opacity: 1;
  margin: -10px auto;
}
.labelDetalhe{
  font: var(--unnamed-font-style-normal) normal bold 13px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 13px/21px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 1;
}
.areaValorDetalhe{
  background: #F9F9FC 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  padding: 5px;
  min-width: 100px;
}
.valorDetalhe{
  font: var(--unnamed-font-style-normal) normal normal 16px/14px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/14px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 1;
  margin: auto;
  display: block;
}
.areaFooterProduto{
  margin: auto;
  min-width: 30%;

}
.areaBtnNovoProduto{
  display: none;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EDF2F6;
  border-radius: 16px;
  opacity: 1;
 
  margin: auto;
  text-align: center;
  padding: 20px;
}
.btnNovoProduto{
  background: #F6B504 0% 0% no-repeat padding-box;
  border-radius: 23px;
  opacity: 1;
  width: 50%;
  max-width: 300px;
  margin: auto;
  text-align: center;
  display: inline-flex;
  padding: 10px;
}
.iconePlus{
  margin: auto;
  margin: auto auto auto 20px;
  text-align: center;
  display: inline-flex;
  max-width: 30%;
}
.txtNovoProduto{
  font: var(--unnamed-font-style-normal) normal normal 14px/30px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/30px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: auto auto auto 0;
  text-align: left;
  display: inline-flex;
}
.btnEditarProduto{
  background: #FFFFFF98 0% 0% no-repeat padding-box;
    border: 1px solid #EDF2F6;
    border-radius: 23px;
    opacity: 1;
    margin: auto;
    width: auto;
    display: inline-flex;
    gap: 20px;
    padding: 10px;

}
.iconeEditar{
  margin: auto;
}
.txtEditarProduto{
  font: var(--unnamed-font-style-normal) normal normal 14px/20px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/20px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 1;

    margin: auto;
}
.btnColetarProduto{
  background: #F6B504 0% 0% no-repeat padding-box;
    border: 1px solid #F6B504;
    border-radius: 20px;
    opacity: 1;
    display: inline-flex;
    margin: auto;
    min-width: 150px;
    margin: auto;
    padding: 10px;
    gap: 15px;

}
.iconeColetar{
  margin: auto;
}
.txtColetarProduto{
  font: var(--unnamed-font-style-normal) normal normal 14px/20px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/20px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: auto;
}
.edicao-produto{
  padding: 25px;
  display: inline-flex;
  gap: 10px;
  margin: auto;
  width: 100%;
  border-top: 1px solid #EDF2F6;
  display: none;
}
.editarProdutoModal, .adicionarProdutoModal, .finalizaSeparacao{
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color:  rgba(0, 0, 0, 0.7);
}
.modalFinaliza{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #6a6a6a19;
  border-radius: 25px;
  opacity: 1;
  position: absolute;
  width: 96%;
  top: 25vh;
  padding: 25px;
  margin-left: 2%;
  height: 50vh;

}
.modal{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #6a6a6a19;
  border-radius: 25px 25px 0px 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
  top: 20vh;
  padding: 25px;
  height: 80vh;
}
.modalAddProduto{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #6a6a6a19;
  border-radius: 25px 25px 0px 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
  top: 30vh;
  padding: 25px;
  height: 75vh;
}
.pageFull{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #6a6a6a19;
  border-radius: 25px 25px 0px 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
  top: 0vh;
  padding: 10px;
  height: 100vh;
}
.iconCloseModal{
  float: right;
  cursor: pointer;
}
.labelEditarModal{
  font: var(--unnamed-font-style-normal) normal bold 13px/21px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 13px/21px Roboto;
letter-spacing: 0px;
color: #687C97;
opacity: 1;
margin: 10px auto;

}
.formModal{
  
  margin: 25px auto;
}
.areaInputModal{
  background: #F9F9FC 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  display: inline-flex;
  width: 100%;
}
 
.areaInputModal>textarea{
  font: var(--unnamed-font-style-normal) normal normal 18px/14px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 18px/14px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 0.25;
  border: none;
  background: #F9F9FC 0% 0% no-repeat padding-box;
  border: none;
  width :100%;
  padding: 20px;
}
.inputModal{
  background: #F9F9FC 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
}
.iconeEditarModal{
  margin: auto 10px auto auto;
}
.iconeEditarModal2{
  margin: 10px 10px auto auto;
}
.btnAplicarModal{
  background: #F6B504 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  height: 10vh;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
}
.txtAplicarModal{
  font: var(--unnamed-font-style-normal) normal normal 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: auto;
}
.btnRemoverProdutoModal{
  background: #F6B504 0% 0% no-repeat padding-box;
  border: 1px solid #F6B504;
  border-radius: 20px;
  opacity: 1;
  display: inline-flex;
  width: 95%;
  padding: 10px;
  
}
.iconeRemoverModal{
margin: auto;
}
.txtRemoverModal{
  font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/19px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: auto;
  text-align: center;
}
.btnDesfazerProdutoModal{
  border: 1px solid #F6B504;
  border-radius: 20px;
  opacity: 1;
  display: inline-flex;
  width: 95%;
  padding: 10px;
   
  margin: 20px auto;
}
.iconeDesfazerModal{
  margin: auto;
}
.txtDesfazerModal{
  font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/19px Roboto;
  letter-spacing: 0px;
  color: #F6B504;
  opacity: 1;
  margin: auto;
}
.novoProdutoModal{
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color:  #ffffff;
}
.iconVoltarPagina{
  float: left;
  margin-right: 25px;
}
.tituloNovoProduto{
  font: var(--unnamed-font-style-normal) normal bold 21px/24px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 21px/24px Roboto;
  letter-spacing: 0px;
  color: #222B45;
  opacity: 1;
}
.topoModal{
  gap: 25px
}
.iconeSearch{
  margin: auto 10px auto auto;
  width: 20px;
}
.areaBuscaModal{
  background: #F0F0F0 0% 0% no-repeat padding-box;
  border: 1px solid #EFEFEF;
  border-radius: 10px;
  opacity: 1;
}
.inputBuscaModal{
  font: var(--unnamed-font-style-normal) normal normal 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 1;
}
.areaBuscaProduto{
  min-height: 115px;
  border-bottom: 1px solid #EFEFEF;
  display: inline-flex;
  margin: 25px auto;
  padding: 5px;
  width: 100%;

}
.areaBuscaModalContainer{
  max-height: 90vh;
  overflow: auto;
  
}
.imagenCardBusca{
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}
.areaTextoModal{
  min-height: 115px;
  margin: auto;
  max-width: 215px;
  min-width: 210px !important;

}
.listaDePedidos{
  padding-bottom: 50px;
}
.descricaoModalBusca{
  font: var(--unnamed-font-style-normal) normal bold 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 16px/21px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.pesoModalBusca{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-6a6a6a);
  text-align: left;
  font: normal normal 300 16px/21px Roboto;
  letter-spacing: 0px;
  color: #6A6A6A;
  opacity: 1;
  }
.precooModalBusca{
  font: var(--unnamed-font-style-normal) normal normal 16px/14px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/14px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 1;
}
.iconePlusBusca{
  margin: 7px;
  display: block;
}
.areaIconeBuscaModal{
  background: #F6B504 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 25px #fffbf229;
  opacity: 1;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: auto;
  padding: 5px;
}
.right{
  margin: auto auto auto 5px;
  padding: 5px;
}
.buscaPedidoOculto{
  display: none;
  margin: 5px auto;
}
.nomeDesconto{
  font: var(--unnamed-font-style-normal) normal bold 13px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 13px/21px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 1;
  margin: auto;
}
.tipoDesconto{
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  letter-spacing: 0px;
  color: #F6B504; 
  opacity: 1;
  margin: auto;
}
.areaValorDesconto{
  background: #F9F9FC 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  margin: auto;
}
.valorDesconto{
  font: var(--unnamed-font-style-normal) normal normal 16px/14px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/14px Roboto;
  letter-spacing: 0px;
  color: #F6B504;
  opacity: 1;
  margin: auto;
}
.conteudoDesconto{
  width: 100%;
  display: inline-flex;
  gap: 20px;
  padding: 20px;
  border-top: 1px solid #EDF2F6;
}

.conteudoComentarios{
  width: 100%;
  display: inline-flex;
  gap: 20px;
  padding: 20px;
  border-top: 1px solid #EDF2F6;
}
.areaCaracteristica{
  
  background: #DCEFE3 no-repeat padding-box;
  border-radius: 34px;
  opacity: 1;
  padding: 10px;
  margin: auto auto auto 0;
}
.caracteristica{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) 14px/19px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 300 14px/19px Roboto;
  letter-spacing: 0px;
  color: #50C682;
  opacity: 1;
  margin: auto;
}
.comentario{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) 14px/19px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 300 14px/19px Roboto;
  letter-spacing: 0px;
  color: #687C97;
  opacity: 1;
  margin: auto auto auto 5px;
  gap: 20px;
}
.iconeCaneta{
  margin: auto;
}
.areaProdutoPedido{
  display: inline-flex;
  width: calc(100% + 150px);
  margin: 10px auto;
}
.removeTodoProduto{
  background: #F6B504 0% 0% no-repeat padding-box;
  border-radius: 4px 0px 0px 4px;
  opacity: 1;
  margin: auto;
  width: 150px !important;
  border-radius: 5px 0px 0px 5px;
  padding-top: calc(50% - 35%);
 
}
.areaBtnRemove{
  background: #FFFBF2 0% 0% no-repeat padding-box;
  border: 3px solid #FFFFFF;
  border-radius: 100%;
  opacity: 1;
  width: 70px;
  height: 70px;
  margin: auto;
}
.txtRemoverProdutoTodo{
  font: var(--unnamed-font-style-normal) normal bold 16px/21px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal bold 16px/21px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.iconeRemoveTodoProduto{
  margin: 12px auto;
  display: block;
  width: 40px;

}
.meuProduto{
  max-width: 100vh !important;
  overflow: auto;
}
.meuProduto::-webkit-scrollbar {
  display: none;
}
.feedback{
  font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 14px/19px Roboto;
letter-spacing: 0px;
color: #04B5F6;
opacity: 1;
margin: 20px 4px;
display: none;
}
.removido{
  width: 100% !important;
}

.areaLike{
  background: #FFFBF2 0% 0% no-repeat padding-box;
  border-radius: 40px;
  opacity: 1;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin: 25px auto;
  display: block;
  padding: 15px;
}
.iconeLike{
  margin: 15px auto;
    display: block;
}
.tituloLike{
  font: var(--unnamed-font-style-normal) normal bold 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 16px/21px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.subTituloLike{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-6a6a6a);
  text-align: center;
  font: normal normal 300 16px/21px Roboto;
  letter-spacing: 0px;
  color: #6A6A6A;
  opacity: 1;
}
.btnFinalizaColeta{
  background: #F6B504 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    padding: 15px;
    text-align: center;
}
.txtFinalizaColeta{
  font: var(--unnamed-font-style-normal) normal normal 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: auto;
}
.btnRevisar{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #F6B504;
  border-radius: 5px;
  opacity: 1;
  padding: 15px;
  margin:10px  auto;
 
}
.txtRevisar{
  font: var(--unnamed-font-style-normal) normal normal 16px/21px var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #F6B504;
  opacity: 1;
  margin: auto;
  text-align: center;
}